<div class="main">
    <div class="header">
        <span class="title">Edición múltiple</span>
    </div>

    <div class="body">
        <div class="row-container">
            <div class="card" *ngFor="let row of rows; let i = index">
                <span>{{row.descripcion}}</span>
                <div class="grid-container">
                    <form [formGroup]="formGroups[i]">
                        <div class="form-container">
                           
                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Enero</mat-label>
                            <input matInput formControlName="enero">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Febrero</mat-label>
                            <input matInput formControlName="febrero">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Marzo</mat-label>
                            <input matInput formControlName="marzo">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Abril</mat-label>
                            <input matInput formControlName="abril">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Mayo</mat-label>
                            <input matInput formControlName="mayo">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Junio</mat-label>
                            <input matInput formControlName="junio">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Julio</mat-label>
                            <input matInput formControlName="julio">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Agosto</mat-label>
                            <input matInput formControlName="agosto">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Septiembre</mat-label>
                            <input matInput formControlName="septiembre">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Octubre</mat-label>
                            <input matInput formControlName="octubre">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Noviembre</mat-label>
                            <input matInput formControlName="noviembre">
                           
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Diciembre</mat-label>
                            <input matInput formControlName="diciembre">
                           
                          </mat-form-field>
                    </div>
                              
                              
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <button class="btn btn-light" (click)="close()">Cancelar</button>
        <button class="btn btn-success" (click)="save()">Continuar</button>
    </div>
</div>