<div class="modal-container">
  <div class="hor-container">
      <h2>Nuevo plan</h2>
      <button >X</button>
  </div>

  <div class="body">
      <!--MAT HORINZAL STEPPER-->
  <mat-horizontal-stepper   #stepper>
    <!--PRIMER PASO EMPRESA-->
          <mat-step [stepControl]="fgEmpresa">
              <ng-template matStepLabel>Datos</ng-template>
      <!---FORM-->
              <form [formGroup]="fgEmpresa" (ngSubmit)="showFormData(fgEmpresa)"> 
                  <div class="form-container">
                    <span class="ms-sub">Para ver un nuevo plan completa los parametros que se requieren.</span>
    
                    <span class="ms-main-sub">Personaliza los datos</span>
                    <span class="ms-sub">Elige los filtros que necesites para adecuarlos a la nueva vista del plan</span>

                    <div class="inputs-cont">
                      <div class="input-container11d">

                        <label for="conjuntos">Conjuntos</label>
                      <select name="" id="conjuntos" class="form-select"
                      (change)="onSelectChange($event, 1)">
                        <option value="" selected disabled>Selecciona uno</option>
                        <option value="" *ngFor="let conjunto of conjuntos_list"
                        [value]="conjunto.nombre">
                          {{conjunto.nombre}}
                        </option>

                      </select>
                      </div>
      
                      <div class="input-container11d">

                        <label for="tipo">Tipo producto</label>
                      <select name="" id="tipo" class="form-select"
                      (change)="onSelectChange($event, 2)">
                          <option value="" selected disabled>Selecciona uno</option>
                          <option value="" *ngFor="let tipo of tipo_list"
                          [value]="tipo.nombre">
                            {{tipo.nombre}}
                          </option>
                      </select>
                      </div>


                      <div class="input-container11d">

                        <label for="tipo">Estatus</label>
                      <select name="" id="tipo" class="form-select"
                      (change)="onSelectChange($event, 2)">
                          <option value="" selected disabled>Selecciona uno</option>
                          <option value="" *ngFor="let status of status_list"
                          [value]="status.nombre">
                            {{status.nombre}}
                          </option>
                      </select>
                      </div>
      

                      <div class="input-container11">

                        <label for="proveedor">Proveedor</label>
                      <select name="" id="proveedor" class="form-select"></select>
                      </div>

                      <div class="input-container1">

                        <label for="nombre">Nombre del plan</label>
                      <input name="" id="nombre" class="form-control" type="text">
                      </div>
                   
                      
                    </div>
    
    
                   
    
    
       
          <!---BUTTON-->
          <div class="buttons">
            <button class="btn btn-light" type="button" (click)="close()"
              >Cancelar</button>
            <button class="btn btn-primary" matStepperNext
              type="submit" 
            >Continuar</button>

          </div>
                    
                  </div>
              </form>
          </mat-step>
    <!---SECOND STEP TIME-->
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Tiempo</ng-template>
          <form [formGroup]="secondFormGroup">
            <div class="second-container">
              <span class="ms-sub">Para ver un nuevo plan completa los parametros que se requieren.</span>
              <span class="ms-main-sub">Perio de tiempo</span>
              <span class="ms-sub">Elige el periodo de tiempo en el que deseas que se visualicen los datos. 
                Puedese eligir entre los periodos predeterminados o selecciona un rango personalizado.</span>

                <div class="choose-container">
                  <div class="left">
                    <div class="select-container">
                      <label for="prdet">Periodos predeterminados</label>
                      <select name="" id="prdet" class="form-select"
                      (change)="onSelectChange($event, 5)">
                        <option value=""dissabled selected>
                          Selecciona uno
                        </option>
                        <option [value]="tiempo.name" *ngFor="let tiempo of periodos_list">
                          {{tiempo.name}}
                        </option>
                      </select>
                    </div>
  
                    <button class="btn btn-primary boton-side"
                      (click)="choosePeriod()">Elegir</button>
                  </div>
                 

                  <span class="ranges" (click)="openMini()"> + Rango personalizado</span>
                </div>

                <div class="period-container" *ngIf="showPeriodContainer">
                  <img src="calendario.png" alt="">
                  <span>Has elegido: </span>
                  <span class="t-periodo">{{periodSelected}}</span>

                </div>

                <div class="buttons-2">
                  <button class="btn btn-light" matStepperPrevious>Regresar</button>
                  <button class="btn btn-success" matStepperNext
                   >Continuar</button>
                </div>

            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFg">
          <ng-template matStepLabel>Finalizar</ng-template>
          <form [formGroup]="thirdFg">
            <div class="third-container">
              <span class="ms-sub">Para ver un nuevo plan completa los parametros que se requieren.</span>
              <span class="ms-main-sub">Perio de tiempo</span>
            </div>
          </form>
        </mat-step>
    
      </mat-horizontal-stepper>
  </div>

  

</div>