.main-modal{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    header{
        width: 100%;
        height: 10%;
        display: flex;

        .title{
            line-height: 1.1;
            font-weight: 700;
            font-size: 25px;
        }
    }

    main{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;

        .sub{
            line-height: 1.1;
            font-weight: 600;
            color: #424242;
            margin-bottom: 2rem;
        }
    }

    footer{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }

}