<header class="inicio">
    <span class="title">CVV</span>
    <span class="sub">Modulo de Plan de ventas</span>
    <div class="image-container">
        <img src="logovan.png" alt="logo">
    </div>

    <i class="bi bi-x p-icon"
        (click)="goHome()"></i>

</header>

<main class="contenedor_animacion">
    <section  class="seccion seccion_1">

            <span class="bg-title">
                Características
            </span>

            <div class="one">
                <span class="s-title">Visualización</span>
                <span class="s-sub">Observa a detalle los planes de ventas para los sectores público y privado.</span>
                <i class="bi bi-view-list o-icon"></i>
            </div>


            <div class="two">
                <span class="s-title">Edición</span>
                <span class="s-sub">Ajusta la cantidad de unidades planedas y obtenen nuevos datos.</span>
                <i class="bi bi-pen o-icon"></i>

            </div>

            <div class="three">
                <span class="s-title">Históricos</span>
                <span class="s-sub">Guarda múltiples versiones de los planes comerciales.</span>
                <i class="bi bi-clock-history o-icon"></i>

            </div>

            <div class="four">
                <span class="s-title">Comparativa</span>
                <span class="s-sub">Compara los planes guardados y genera datos relevanrtes.</span>
                <i class="bi bi-arrows-collapse-vertical o-icon"></i>

            </div>

            <div class="five">
                <span class="s-title">Escenarios</span>
                <span class="s-sub">Genera descenas de escenarios, manipula datos y obten valores.</span>
                <i class="bi bi-kanban o-icon"></i>

            </div>

            

     
    </section>

    <section  class="seccion seccion_2">

       


        <div class="left">
            <span class="s2-title">Visualización de Planes</span>
            <span class="s2-sub">Obten la información en tiempo real de los planes comerciales.</span>
        </div>

        <i class="bi bi-images i-image"
            (click)="openModalImages(1)"></i>


        <div class="p-publico">
            <span class="sb">Plan Comercial Público</span>
            <span class="sb1">Enfocado principalmente a instituticiones gubernamentales.</span>
        </div>


        <div class="p-privado">
            <span class="sb">Plan Comercial Privado</span>
            <span class="sb1">Enfocado principalmente a distribuidores.</span>
        </div>
        

       

       

 
</section>

    <section  class="seccion seccion_3">

       


        <div class="left">
            <span class="s3-title">Trimestres dinámicos</span>
            <span class="s3-sub">Gestiona la información que requieres.</span>
            <i class="bi bi-images i-image"
            (click)="openModalImages(2)"></i>
        </div>

        
        <div class="q1">
            <span class="q1-title">Primer trimestre Q1</span>
            <span class="q1-sub">Enero | Febrero | Marzo</span>
        </div>

        <div class="q2">
            <span class="q2-title">Segundo trimestre Q2</span>
            <span class="q2-sub">Abril | Mayo | Junio</span>
        </div>

        <div class="q3">
            <span class="q2-title">Tercer trimestre Q3</span>
            <span class="q2-sub">Julio | Agosto | Septiembre</span>
        </div>

        <div class="q4">
            <span class="q1-title">Cuarto trimestre Q4</span>
            <span class="q1-sub">Octubre | Noviembre | Diciembre</span>
        </div>

       

       

 
</section>


<section  class="seccion seccion_4">

       


    <div class="left">
        <span class="s-title">Facturado y Planeado</span>
        <span class="s-sub">Ten una vista más clara del avance de la operación.</span>
    </div>


    <div class="facturado-s">
        <span class="s4-title">Valores Facturados</span>
        <span class="s4-sub">Contenplan el total de unidades materializadas sobre los 
            meses ya pasados.
        </span>

    </div>

    <div class="planeado-s">
        <span class="s4-title">Valores Planeados</span>
        <span class="s4-sub">
            Son los valores  de las unidades que se se tienen  planeadas.
        </span>

    </div>
    
   

   


</section>

<!---second -->

<section  class="seccion seccion_5">

       


    <div class="left">
        <span class="s2-title">Edición de Planes</span>
        <span class="s2-sub">Genera diferentes tipos de planes, editando los valores planeados.</span>
    </div>


    <div class="p-publico">
        <span class="sb">Edición Unitaria</span>
        <span class="sb1">Edita un solo producto a la vez.</span>
    </div>


    <div class="p-privado">
        <span class="sb">Edición múltiple</span>
        <span class="sb1">Selecciona un conjunto de productos. Editalos todos al mismo tiempo.</span>
    </div>
    

   

   


</section>
 
    <section class="seccion seccion_6">
        <div class="body">
            <div class="left">
                <img src="edit-cantidad.png" alt="modalEditar" 
                    class="l-images">

                <span class="info">*Imagén correspondiente a la edición del medicamento Tacrolimus</span>
            </div>
    
            <div class="right">
                <span class="s-title">
                    Edición Unitaria
                </span>
    
                <span class="s-sub">
                    Modifica los valores del CMP de los productos para generar backups historicos y diferentes escenarios.
                </span>


            </div>
        </div>
      
    </section>

    <section class="seccion seccion_7">
        <div class="body">
            <div class="left">
                <img src="edit-cantidad.png" alt="modalEditar" 
                    class="l-images">

                <span class="info">*Imagén correspondiente a la edición del medicamento Tacrolimus</span>
            </div>
    
            <div class="right">
                <span class="s-title">
                    Edición Múltiple
                </span>
    
                <span class="s-sub">
                    Modifica los valores de planeación de hasta 5 productos al mismo tiempo.
                </span>


            </div>
        </div>
      
    </section>

    <!---third -->


    <section  class="seccion seccion_8">

       


        <div class="left">
            <span class="s2-title">Histórico de Planes</span>
            <span class="s2-sub">Con el sistema de históricos, puedes analizar el pasado para un mejor futuro.</span>
        </div>

        <i class="bi bi-images i-image"
        (click)="openModalImages(3)"></i>

    
    
        <div class="p-publico">
            <span class="sb">Backups nuevos</span>
            <span class="sb1">Genera diversas cantidades de historicos desde cero.</span>
        </div>
    
    
        <div class="p-privado">
            <span class="sb">Sobrescribe los existentes</span>
            <span class="sb1">Vuelve a editar una y otra vez un plan predilecto.</span>
        </div>
        
    
       
    
       
    
    
    </section>

    
    <section  class="seccion seccion_9">

       


        <div class="left">
            <span class="s2-title">Respaldos desde cero</span>
            <span class="s2-sub">Editas un plan... te gusta el resultado. Lo guardas.</span>
        </div>
    
    
        <div class="info-1">
            <span class="i-title">Protección de datos críticos frente a pérdidas</span>
            <span class="i-sub">
                Un backup completo desde cero asegura que todos los datos del plan (incluidos históricos de unidades planificadas, configuraciones de planes y metadatos) puedan restaurarse sin depender 
                de copias incrementales o diferenciales, que podrían estar incompletas o corruptas
            </span>
        </div>
      
        
    
       
    
       
    
    
    </section>

    <section  class="seccion seccion_10">

       


        <div class="left">
            <span class="s2-title">Trabaja con lo existente</span>
            <span class="s2-sub">Sigue trabjando con tu plan idoneo y solo realiza ligeros ajustes.</span>
        </div>
    
    
      
        
    
       
    
       
    
    
    </section>



    <section class="seccion seccion_11">
        <div class="header">
            <span class="s-title">Comparativa de planes</span>
        </div>
        <div class="body">
            <div class="left">
                <span class="s-title"></span>
                <span class="s-sub">Es el plan original con el que se esta trabajando.</span>
                <div class="s-image-container">
                    <img src="p1.png" alt="">
                </div>
            </div>

            <div class="vs">
                <span>Vs</span>
            </div>
    
            <div class="right">
                <span class="s-title">Plan a comprar</span>
                <span class="s-sub">Es el plan seleccionado a partir del backup historico de cambios.</span>
                <div class="s-image-container">
                    <img src="p2.png" alt="">
                </div>
            </div>

            <div class="info">
                <span>La diferencia de los valores entre ambos planes se marca en las celdas de la primer tabla con un color diferente.</span>
            </div>
        </div>
      
    </section>

   
   
</main>

<footer class="final">
    <span class="f-title">Gracias por llegar al final</span>
    <button class="f-button" 
        (click)="goHome()">Finalizar</button>
    <div class="image-container">
        <img src="logovan.png" alt="logo">
    </div>
</footer>