@use '../../../../../styles/_abstracts/index' as a;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    //transform: translateX(300px);
}


.inicio{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .p-icon{
        position: fixed;
        top: 4%;
        right: 4%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gainsboro;
        box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.377);
        transition: all 0.2s ease-in-out;
        z-index: 10;

        &:hover{
            cursor: pointer;
            background-color: rgb(119, 117, 117);

        }
    }

    .image-container{
        position: absolute;
        right: 0%;
        top: 2%;
        overflow: hidden;
        height: 180px;
        width: 480px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-width: 100%; 
            max-height: 100%; 
            object-fit: contain; 
            width: auto;
            height: auto; 
        }
    }

    .title{
        font-weight: 710;
        font-size: 60px;
        line-height: 1.1;
        padding-left: 5rem;
        letter-spacing: 8px;

    }

    .sub{
        font-weight: 680;
        line-height: 1.1;
        font-size: 30px;
        color: #424242;
        padding-left: 5rem;

    }
}

.contenedor_animacion{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}



.seccion{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.o-icon{
    width: 65px;
    margin-top: 2rem;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #e3e3e361;
    background-color: #6860fb54;
    transition: all 0.2s ease-in-out;

    &:hover{
        color: white;
        background-color: #6860fbcb;
        transform: scale(1.025);

    }
}

.i-image{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 65%;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.2509803922);
    color: #bbbbbb;
    transition: all 0.2s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.02);
        background-color: rgba(197, 196, 196, 0.251);

    }

}

.seccion:nth-child(1){
    //background-color: #b9d5d5;
    background-color: a.$primary-color;
    flex-direction: row;

    .bg-title{
        color: white;
        position: absolute;
        width: fit-content;
        top: 10%;
        font-size: 55px;
        font-weight: 700;
        padding: .9rem 1.2rem;
        background: #afa6a64f;
        border-radius: 12px;

    }

    .s-title{
        font-weight: 710;
        font-size: 28px;
        line-height: 1.1;
        text-align: center;
        width: 200px;
        color:white;
        /* background-color: #424242; */
    }

    .s-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 18px;
        color: #e7e7e7b5;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 300px;
        margin-top: 1rem;
    }

  

    .one{
        width: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 10%;
        top: 20%;

       

    }

    .two{
        width: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 23%;
        bottom: 17%;

    }

    .three{
        width: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 40%;
        top: 40%;
    }


    .four{
        width: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 14%;
        bottom: 17%;

    }

    .five{
        width: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 2%;
        bottom: 62%;

    }

   
   

    .l-text{
        position: absolute;
        bottom: 8%;
        right: -45%;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 700;
        color: #797977;

    }

}

.seccion:nth-child(2){
    background-color: a.$primary-dark;
    flex-direction: row;

   

    .s2-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s2-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .s-title{
            font-weight: 710;
            font-size: 28px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .p-publico{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        left: 10%;
        width: 84%;

        top: 14%;
        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

    .p-privado{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        width: 84%;
        right: 10%;
        bottom: 14%;
        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

   

  

    .l-text{
        position: absolute;
        bottom: 8%;
        right: -45%;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 700;
        color: #797977;

    }

}

.seccion:nth-child(3){
    background-color: a.$primary-darker;
    flex-direction: row;

    .s3-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s3-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .s-title{
            font-weight: 710;
            font-size: 48px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            color: white;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .q1{
        gap: 0.5rem;
        background-color: rgb(126 161 238 / 32%);
        position: absolute;
        left: 10%;
        top: 7%;
        width: 318px;
        padding: 1rem;
        display: flex;
        border-radius: 8px;
        flex-direction: column;

        .q1-title{
            color: black;
            font-size: 22px;
            font-weight: 700;


        }

        .q1-sub{
            color: #232222;
            font-size: 20px;
            font-weight: 600;

        }
    }

    .q2{
        gap: 0.5rem;
        /* background-color: rgba(26, 100, 28, 0.2588235294); */
        position: absolute;
        right: 10%;
        top: 7%;
        width: 318px;
        padding: 1rem;
        background-color: rgb(66 122 244 / 32%);
        display: flex;
        flex-direction: column;
        border-radius: 8px;

        .q2-title{
            color: white;
            font-size: 22px;
            font-weight: 700;


        }

        .q2-sub{
            color: #acaaaa;
            font-size: 20px;
            font-weight: 600;

        }
    }

    .q3{
        gap: 0.5rem;
        background-color: rgb(36 77 165 / 32%);
        position: absolute;
        left: 10%;
        bottom: 13%;
        width: 318px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 8px;

        
        .q2-title{
            color: white;
            font-size: 22px;
            font-weight: 700;


        }

        .q2-sub{
            color: #acaaaa;
            font-size: 20px;
            font-weight: 600;

        }
    }

    .q4{
        gap: 0.5rem;
        background-color: rgb(216 228 255 / 32%);
        position: absolute;
        right: 10%;
        bottom: 13%;
        width: 318px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 8px;

        .q1-title{
            color: black;
            font-size: 22px;
            font-weight: 700;


        }

        .q1-sub{
            color: #232222;
            font-size: 20px;
            font-weight: 600;

        }
    }

  

    .l-text{
        position: absolute;
        bottom: 8%;
        right: -45%;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 700;
        color: #797977;

    }

}

.seccion:nth-child(4){
    background-color: a.$primary-darkerer;
    flex-direction: row;

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .s-title{
            font-weight: 710;
            font-size: 48px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            color: white;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #c2c2c2;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .facturado-s{
        width: 33%;
        height: 80vh;
        background-color: rgba(126, 161, 238, 0.32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12%;
        left: 3%;
        padding: 1rem;
        border-radius: 12px;

        .s4-title{
            color: white;
            text-align: center;
            width: 85%;
            line-height: 1.1;
            font-size: 28px;
            font-weight: 700;
        }

        .s4-sub{
            color: white;
            text-align: center;
            width: 85%;
            line-height: 1.1;
        }
    }

    .planeado-s{
        width: 33%;
        height: 80vh;
        background-color: rgba(126, 161, 238, 0.32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12%;
        right: 3%;
        padding: 1rem;
        border-radius: 12px;

        .s4-title{
            color: white;
            text-align: center;
            width: 85%;
            line-height: 1.1;
            font-size: 28px;
            font-weight: 700;
        }

        .s4-sub{
            color: white;
            text-align: center;
            width: 85%;
            line-height: 1.1;
        }
    }


  


}

/*
    SEGUNDA SECCION
*/

.seccion:nth-child(5){
    background-color: a.$secondary-dark;
    flex-direction: row;

    .s2-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s2-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .s-title{
            font-weight: 710;
            font-size: 28px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .p-publico{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        left: 10%;
        top: 14%;
        width: 84%;
        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

    .p-privado{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        right: 10%;
        width: 84%;

        bottom: 14%;
        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

   

  

    .l-text{
        position: absolute;
        bottom: 8%;
        right: -45%;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 700;
        color: #797977;

    }

}

.seccion:nth-child(6){
    background-color: a.$secondary-color;

    .body{
        width: 100%;
        height: 100%;
        display: flex;

        .left{
            width: 50%;
            height: 100%;
            display: flex;
            overflow: hidden;
            //background-color: #424242;

            .l-images{
                position: absolute;
                left: 8%;
                top: 18%;
                width: 703px;
                filter: drop-shadow(2px 4px 6px black);
            }

            .info{
                position: absolute;
                padding: 1rem;
                bottom: 4%;
                left: 12%;
                width: fit-content;
                line-height: 1.1;
                font-weight: 700;
                font-size: 14px;
                color: #fbfbfb99;
    
            }
        }

        .right{
            width: 50%;
            height: 100%;
            display: flex;
            //background-color: #531e1e;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .s-title{
                line-height: 1.1;
                font-weight: 750;
                font-size: 29px;
                text-align: center;
                color: #e7e7e7;
            }

            .s-sub{
                line-height: 1.1;
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #cdcdcd;
                width: 365px;
                margin-top: 1rem;
            }

        }
    }
}


.seccion:nth-child(7){
    background-color: a.$secondary-light;

    .body{
        width: 100%;
        height: 100%;
        display: flex;

        .left{
            width: 50%;
            height: 100%;
            display: flex;
            overflow: hidden;
            //background-color: #424242;

            .l-images{
                position: absolute;
                left: 8%;
                top: 18%;
                width: 703px;
                filter: drop-shadow(2px 4px 6px black);
            }

            .info{
                position: absolute;
                padding: 1rem;
                bottom: 4%;
                left: 12%;
                width: fit-content;
                line-height: 1.1;
                font-weight: 700;
                font-size: 14px;
                color: #fbfbfb99;
    
            }
        }

        .right{
            width: 50%;
            height: 100%;
            display: flex;
            //background-color: #531e1e;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .s-title{
                line-height: 1.1;
                font-weight: 750;
                font-size: 29px;
                text-align: center;
                color: #e7e7e7;
            }

            .s-sub{
                line-height: 1.1;
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                color: #cdcdcd;
                width: 365px;
                margin-top: 1rem;
            }

        }
    }
}


/*
    TERCERA SECCION
*/

.seccion:nth-child(8){
    background-color: a.$tertiary-light;
    flex-direction: row;

    .s2-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s2-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .s-title{
            font-weight: 710;
            font-size: 28px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .p-publico{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        left: 10%;
        top: 14%;
        width: 84%;
        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

    .p-privado{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        right: 10%;
        bottom: 14%;
        width: 84%;

        background: #f5f5f540;
        border-radius: 8px;

        .sb{
            line-height: 1.1;
            font-weight: 650;
            font-size: 20px;
        }

        .sb1{
            line-height: 1.1;
            font-weight: 650;
            font-size: 16px;
        }
    }

   

  

    .l-text{
        position: absolute;
        bottom: 8%;
        right: -45%;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 700;
        color: #797977;

    }

}

.seccion:nth-child(9){
    background-color: a.$tertiary-color;
    flex-direction: row;

    

    .s2-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s2-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .i-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .i-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .info-1{
        display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    left: 3%;
    bottom: 13%;
    background-color: rgba(128, 128, 128, 0.4784313725);
    border-radius: 23px;
    justify-content: center;
    align-items: center;

    .i-title{
           /* background-color: red; */
    line-height: 1.1;
    font-size: 25px;
    }

    .i-sub{
            /* background-color: blue; */
    line-height: 1.1;
    font-size: 16px;
    margin-top: 2.2rem;
    }
        
    }

    .info-2{
        display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    left: 36%;
    background-color: #8080807a;
    border-radius: 23px;
    justify-content: center;
    align-items: center;

    .i-title{
           /* background-color: red; */
    line-height: 1.1;
    font-size: 25px;
    }

    .i-sub{
            /* background-color: blue; */
    line-height: 1.1;
    font-size: 16px;
    margin-top: 2.2rem;
    }
        
    }


    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
      position: absolute;
      top: 4%;
      left: 30%;

        .s-title{
            font-weight: 710;
            font-size: 24px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 16px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

   

  
}

.seccion:nth-child(10){
    background-color: a.$tertiary-dark;
    flex-direction: row;

    .i-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .i-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }


    .s2-title{
        font-weight: 710;
        font-size: 46px;
        line-height: 1.1;
        text-align: center;
        width: 300px;
        color: white;   
     }

    .s2-sub{
        font-weight: 650;
        line-height: 1.1;
        font-size: 20px;
        color: #cfcfcf;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        width: 400px;
        margin-top: .6rem;
    }

    .left{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        //background-color: #f38282;
        justify-content: center;
        align-items: center;
      position: absolute;
      top: 20%;
      right: 30%;

        .s-title{
            font-weight: 710;
            font-size: 28px;
            line-height: 1.1;
            text-align: center;
            width: 200px;
            /* background-color: #424242; */
        }

        .s-sub{
            font-weight: 650;
            line-height: 1.1;
            font-size: 18px;
            color: #424242;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: center;
            width: 300px;
            margin-top: 1rem;
            /* background-color: #485555; */
        }
    }

    .info-1{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 506px;
        position: absolute;
        left: 3%;
        bottom: 13%;
        background-color: rgba(128, 128, 128, 0.4784313725);
        border-radius: 23px;
        justify-content: center;
        align-items: center;

    .i-title{
           /* background-color: red; */
    line-height: 1.1;
    font-size: 25px;
    }

    .i-sub{
            /* background-color: blue; */
    line-height: 1.1;
    font-size: 16px;
    margin-top: 2.2rem;
    }
        
    }

    .info-2{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 506px;
        position: absolute;
        left: 50%;
        bottom: 37%;
        background-color: rgba(128, 128, 128, 0.4784313725);
        border-radius: 23px;
        justify-content: center;
        align-items: center;

    .i-title{
           /* background-color: red; */
    line-height: 1.1;
    font-size: 25px;
    }

    .i-sub{
            /* background-color: blue; */
    line-height: 1.1;
    font-size: 16px;
    margin-top: 2.2rem;
    }
        
    }

   

  
}


/*
    CUARTA SECCION
*/


.seccion:nth-child(11){
    background-color: a.$fourth-dark;
    .header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .s-title{
            line-height: 1.1;
            font-weight: 750;
            font-size: 37px;
            text-align: center;
            color: #f3f3f3;
            margin-top: 3rem;
        }
    }

    .body{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .left{
            width: 50%;
            height: 100%;
            //background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            
            .s-title{
                line-height: 1.1;
                font-weight: 750;
                font-size: 32px;
                text-align: center;
                color: #e7e7e7;
            }

            .s-sub{
                line-height: 1.1;
                font-weight: 700;
                font-size: 21px;
                text-align: center;
                color: #cdcdcd;
                width: 365px;
                margin-top: 1rem;
            }


            .s-image-container{
                margin-top: 2rem;
                width: 400px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 12px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.404);
                overflow: hidden;

                img{
                    width: 100%; 
                    height: 100%; 
                    object-fit: contain; 
                  
                }
            }
        }

        .vs{
            position: absolute;
            top: 41%;
            padding: 1rem;
            //background-color: #a4acac;
            width: fit-content;
            
            span{
                color: white;
                line-height: 1.1;
                font-weight: 800;
                font-size: 30px;
            }
        }

        .right{
            width: 50%;
            height: 100%;
            //background-color: rgb(80, 49, 8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .s-title{
                line-height: 1.1;
                font-weight: 750;
                font-size: 32px;
                text-align: center;
                color: #e7e7e7;
            }

            .s-sub{
                line-height: 1.1;
                font-weight: 700;
                font-size: 21px;
                text-align: center;
                color: #cdcdcd;
                width: 365px;
                margin-top: 1rem;
            }


            .s-image-container{
                margin-top: 2rem;
                width: 400px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 12px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.404);
                overflow: hidden;

                img{
                    width: 100%; 
                    height: 100%; 
                    object-fit: contain; 
                  
                }
            }

        }

        .info{
            position: absolute;
            padding: 1rem;
            /* background-color: #424242; */
            bottom: 4%;
            line-height: 1.1;
            font-weight: 700;
            font-size: 16px;
            color: #fbfbfb;

        }
    }
}




.final{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;

    .f-title{
        text-align: center;
        font-size: 30px;
        font-weight: 800;

    }

    .f-button{
        color: white;
        margin-top: 2rem;
        background-color: #234189;
        width: fit-content;
        padding: .5rem .8rem;
        font-size: 18px;
        border-radius: 8px;
        border: none;
        transition: all 0.3s ease-in-out;

        &:hover{
            cursor: pointer;
            background-color: #1a3164;

        }

    }

    .image-container{
        position: absolute;
        right: 0%;
        bottom: 2%;
        /* padding: 1rem; */
        /* background-color: rgba(102, 51, 153, 0.555); */
        overflow: hidden;
        height: 140px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

       

        img{
            max-width: 100%; 
            max-height: 100%; 
            object-fit: contain; 
            width: auto;
            height: auto; 
        }
    }
}


#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    background-color: black !important;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.25s ease-out;
    box-shadow: 0px 4px 33px black;
    overflow-y: hidden;
  }