<div class="background">
    <div class="top">
        <div class="left">
            <span class="title">Arribos</span>
            <div class="s-container">
                <span class="sub">Cantidad de piezas arribadas.</span>
                <div class="badges-container">
                    <i class="bi bi-zoom-in s-icon"
                        (click)="openZoom(1)"></i>                    
                    <i class="bi bi-view-stacked s-icon"
                    (click)="openStacked(1)"></i>                  

                </div>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
                    <!-- Columnas estáticas -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="editingCell?.row === element && editingCell?.column === 'nombre'; else showNombre">
                                <input
                                    [value]="element.nombre"
                                    (blur)="stopEditing($event, element, 'nombre')"
                                    (keyup.enter)="stopEditing($event, element, 'nombre')"
                                    (keyup.esc)="stopEditing($event, element, 'nombre')"

                                    autofocus
                                />
                            </ng-container>
                            <ng-template #showNombre>
                                <span (click)="startEditing(element, 'nombre')">{{ element.nombre }}</span>
                            </ng-template>
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="inventario">
                        <th mat-header-cell *matHeaderCellDef> Inventario </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="editingCell?.row === element && editingCell?.column === 'inventario'; else showInventario">
                                <input
                                    [value]="element.inventario"
                                    (blur)="stopEditing($event, element, 'inventario')"
                                    (keyup.enter)="stopEditing($event, element, 'inventario')"
                                    autofocus
                                />
                            </ng-container>
                            <ng-template #showInventario>
                                <span (click)="startEditing(element, 'inventario')">{{ element.inventario }}</span>
                            </ng-template>
                        </td>
                    </ng-container>
            
                    <!-- Columnas dinámicas (meses) -->
                    <ng-container *ngFor="let month of monthsColumns" [matColumnDef]="month">
                        <th mat-header-cell *matHeaderCellDef> {{ month }} </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="editingCell?.row === element && editingCell?.column === month; else showMonth">
                                <input
                                    [value]="element[month]"
                                    (blur)="stopEditing($event, element, month)"
                                    (keyup.enter)="stopEditing($event, element, month)"
                                    autofocus
                                />
                            </ng-container>
                            <ng-template #showMonth>
                                <span (click)="startEditing(element, month)">{{ element[month] }}</span>
                            </ng-template>
                        </td>
                    </ng-container>
            
                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
           
        </div>

        <div class="right">
            <span class="title">Plan</span>

            <div class="s-container">
                <span class="sub">Cantidad de piezas planificadas.</span>
                <div class="badges-container">
                    <i class="bi bi-zoom-in s-icon"
                        (click)="openZoom(2)"></i>                    
                    <i class="bi bi-view-stacked s-icon"
                        (click)="openStacked(2)"></i>                  

                </div>
            </div>

            <div class="table-container">
                <table mat-table [dataSource]="dataSourcePlan">
                    <!-- Columnas estáticas -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="inventario">
                        <th mat-header-cell *matHeaderCellDef> Inventario </th>
                        <td mat-cell *matCellDef="let element"> {{ element.inventario }} </td>
                    </ng-container>
    
                    <!-- Columnas dinámicas (meses) -->
                    <ng-container *ngFor="let month of monthsColumnsPlan" [matColumnDef]="month">
                        <th mat-header-cell *matHeaderCellDef> {{ month }} </th>
                        <td mat-cell *matCellDef="let element"> {{ element[month] }} </td>
                    </ng-container>
    
                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlan"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPlan"></tr>
                </table>
            </div>
          

        </div>
    </div>

    <div class="down">
        <div class="upper">

        </div>

        <div class="downer">

        </div>
    </div>

</div>