<div class="background">
    <div class="body">
        <section class="main">
            <div class="header">
                <span class="title">Inventarios en el tiempo</span>
               
            </div>

            <div class="body">

              <span class="sub">Obtenen una visión más clara de los inventarios de los productos. Además genera escenarios de desplazamiento para unidades y dinero.</span>

                <div class="plan-container" *ngIf="!isPlanChoosed">
                    <span class="pc-text">
                        Escoge un plan sobre el cuál se obtendran todos los registros.</span>

            <!-----
                          <div class="image-container">
                        <img src="fondo1.png" alt="">
                    </div>
            
            -->
                  

                   <button class="p-btn" (click)="openChosse()">Seleccionar un plan</button>
                </div>

                <div class="selected-container" *ngIf="isPlanChoosed">
                  <span class="p-title">Proveedores</span>
                  <span class="p-highlight">Plan público</span>
                </div>

                <span class="p-sub">Selecciona el proveedor del cuál deseas consultar información.</span>

           
            
            </div>

        </section>

        <div class="divider"></div>





        <section class="provideers-section" *ngIf="isPlanChoosed">
              
          <ul class="nav nav-tabs nav-cont">
            <li class="nav-item" *ngFor="let option of choosedProviders">
              <button class="nav-link" [class.active]="activeTab === '{{option.Proveedor}}'" 
              (click)="setNavsValue(option.Proveedor)">
                {{option.Proveedor}}
              </button>
            </li>
            
          </ul>

          <div *ngIf="activeTab === anotherSelect">
            <span class="p-txts">Inventario de {{anotherSelect}}</span>
            <p>Este es el contenido de la pestaña de {{anotherSelect}}.</p>
            <div class="component-container">
                <app-proveedor-products [productsData]="productsToSend"></app-proveedor-products>
            </div>
          </div>
        
        </section>
      
      


<!------
           <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link" [class.active]="activeTab === 'home'" (click)="activeTab = 'home'">
                Inicio
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" [class.active]="activeTab === 'profile'" (click)="activeTab = 'profile'">
                Perfil
              </button>
            </li>
          </ul>
          
          <div *ngIf="activeTab === 'home'">
            <h3>Contenido de Inicio</h3>
            <p>Este es el contenido de la pestaña de inicio.</p>
          </div>
          
          <div *ngIf="activeTab === 'profile'">
            <h3>Contenido de Perfil</h3>
            <p>Este es el contenido de la pestaña de perfil.</p>
          </div>

-->
     

       
    </div>
</div>
