<div class="main-ribbon">
    <section class="info">
        <header>
            <span class="title">Metadatos</span>

        </header>
        <main>
            <div class="data-container">
                <span class="m-title">Categoria</span>
                <span class="m-value">
                    {{ formatedPlanData.categoria}}
                </span>
            </div>

            <div class="data-container">
                <span class="m-title">Estado</span>
                <span class="m-value">
                    {{ currentPlanData.categoria}}
                </span>
            </div>

            <div class="data-container">
                <span class="m-title">Tipo</span>
                <span class="m-value">
                    {{ currentPlanData.tipo}}
                </span>
            </div>

            <div class="data-container">
                <span class="m-title">Nombre</span>
                <span class="m-value">
                    {{ currentPlanData.nombre}}
                </span>
            </div>
        </main>

    </section>
</div>