@use '../../../../../styles/_abstracts/index' as a;

.main-ribbon{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    //background-color: rgba(98, 0, 255, 0.411);


    section{
       @include a.mx-ribbon-section;
       width: 40%;

        header{
            @include a.mx-ribbon-header;
                .title{
                   @include a.mx-ribbon-title;
            }
        }   

        main{
           @include a.mx-ribbon-body;
            //background-color: rgba(0, 255, 136, 0.411);

            .data-container{
                display: flex;
                gap: .4rem;
                width: 48%;
                justify-content: flex-start;
                align-items: center;
                //background-color: rgba(255, 0, 242, 0.411);

                .m-title{
                    line-height: 1.1;
                    font-size: 15px;
                    width: 40%;

                }

                .m-value{
                    line-height: 1.1;
                    font-size: 15px;
                    color: #424242;
                    font-weight: 650;
                    width: 60%;
                    max-width: 60%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* text-align: center; */
                    padding-left: 5px;

                    
                }

                
                .turn-on{
                    width: fit-content;
                    color: white;
                    background-color: green;
                    padding: .2rem .4rem;
                    border-radius: 4px;
                    font-size: 12px;                
                }

                .public-on{
                    width: fit-content;
                    color: white;
                    background-color: a.$primary-dark;
                    padding: .2rem .4rem;
                    border-radius: 4px;
                    font-size: 12px;                
                }

                .private-on{
                    width: fit-content;
                    color: white;
                    background-color: green;
                    padding: .2rem .4rem;
                    border-radius: 4px;
                    font-size: 12px;                
                }

            }

            
        }   

    }
}

