<div class="main-ribbon">
    <section class="r-section">
        <header class="r-header">
            <span class="title">Visualización</span>
        </header>
        <main class="r-main">

            <div class="data-container">

            </div>

        </main>
    </section>

    <section class="r-section">
        <header class="r-header">
            <span class="title">Grupos</span>
        </header>
        <main class="r-main">

            <div class="data-container">
                
            </div>

        </main>
    </section>

    <section class="r-section">
        <header class="r-header">
            <span class="title">Vistas</span>
        </header>
        <main class="r-main">

            <div class="data-container">

                <div class="btn-container" (click)="addView()">
                    <i class="bi bi-plus-lg"></i>
                    <span>
                    Nueva
                    </span>
                </div>
                
            </div>

        </main>
    </section>
</div>