<div class="toolbar">
    <dx-check-box
      [(value)]="allowGrouping"
      text="Habilitar Agrupación"
      [disabled]="allowPivoting"
    ></dx-check-box>
  
    <dx-select-box
      *ngIf="allowGrouping"
      [items]="groupingOptions"
      [(value)]="selectedGrouping"
      displayExpr="caption"
      (onValueChanged)="applyGrouping()"
      placeholder="Seleccione agrupación"
    ></dx-select-box>
  
    <dx-check-box
      [(value)]="allowPivoting"
      text="Habilitar Vista Pivote"
      (onValueChanged)="togglePivoting()"
    ></dx-check-box>
  </div>
  
  <dx-data-grid
    *ngIf="!allowPivoting"
    id="dataGrid"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [groupPanel]="{ visible: allowGrouping }"
    [grouping]="{ autoExpandAll: groupAutoExpandAll }"
    [remoteOperations]="true"
  >
    <dxi-column dataField="id" caption="ID" dataType="number"></dxi-column>
    <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
    <dxi-column dataField="fecha" caption="Fecha" dataType="date" format="MMM yyyy"></dxi-column>
    <dxi-column dataField="valor" caption="Valor" dataType="number" format="#,##0.00"></dxi-column>
    <dxi-column dataField="estado" caption="Estado"></dxi-column>
    <dxi-column dataField="categoria" caption="Categoría"></dxi-column>
  
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-pager 
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[50, 100, 500]"
      [showInfo]="true"
    ></dxo-pager>
  </dx-data-grid>
  
  <dx-pivot-grid
    *ngIf="allowPivoting"
    id="pivotGrid"
    [dataSource]="pivotDataSource"
    [allowSortingBySummary]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [showColumnGrandTotals]="true"
    [showRowGrandTotals]="true"
    [showRowTotals]="true"
  >
  </dx-pivot-grid>