@use '../../../../../styles/_abstracts/index' as a;

.main-ribbon{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    //background-color: rgba(98, 0, 255, 0.411);

    section{
       @include a.mx-ribbon-section;
       width: 20%;

        header{
          @include a.mx-ribbon-header;

                .title{
                   @include a.mx-ribbon-title;
            }
        }   

        main{
          @include a.mx-ribbon-body;

            .data-container{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                //background-color: rgba(255, 0, 242, 0.411);

                .btn-container{
                    @include a.mx-ribbon-btn-container;
                }

                .r-btn{
                    font-size: 14px;
                }
            }

        }
    }
}