<div class="main-ribbon">
    <section class="backup">
        <header>
            <span class="title">Backups</span>
        </header>
        <main>

            <div class="data-container">
                <button class="r-btn" (click)="addNewHistoric()">Nuevo</button>
                <button class="r-btn">Sobrescribir</button>

            </div>
        </main>
    </section>

    <section class="backup">
        <header>
            <span class="title">Edición</span>
        </header>
        <main>

            <div class="data-container">
                <button class="r-btn" (click)="allowEdits()">Editar</button>

            </div>
        </main>
    </section>
</div>