<div class="background">
    <div class="top">
        <div #cardLefts [ngClass]="{'left': !isArribosExpanded, 'left-expanded': isArribosExpanded}">
            <span class="title">Plan Arribos (Editable)</span>
            <div class="s-container">
                <span class="sub">Cantidad de piezas arribadas.</span>
                <div class="badges-container">
                    <i class="bi bi-zoom-in s-icon"
                        (click)="openZoom(1)"></i>    
                        
                    <i class="bi bi-arrows-angle-expand s-icon"
                  
                    (click)="setExpandOn()"></i>

                    <i class="bi bi-view-stacked s-icon"
                    (click)="openStacked(1)"></i>                  

                </div>
            </div>
            <div class="simple-spinner" *ngIf="showLoadSpinner"></div>
            <div class="table-container" *ngIf="!showLoadSpinner">
                <table mat-table [dataSource]="dataSource">
                    <!-- Columnas estáticas -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef sticky> nombre </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nombre}}
                        </td>
                    </ng-container>
                      
                    
                    <ng-container matColumnDef="disponibles">
                        <th mat-header-cell *matHeaderCellDef sticky> disponibles </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.disponibles}}
                        </td>
                    </ng-container>
            
        
            
                    <!-- Columnas dinámicas (meses) -->
                    <ng-container *ngFor="let month of monthsColumns" [matColumnDef]="month">
                        <th mat-header-cell *matHeaderCellDef sticky> 
                            {{ month }} </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="editingCell?.row === element && editingCell?.column === month; else showMonth">
                                <input
                                    [value]="element[month]"
                                    (blur)="stopEditing($event, element, month)"
                                    (keyup.enter)="stopEditing($event, element, month)"
                                    autofocus
                                />
                            </ng-container>
                            <ng-template #showMonth>
                                <span (click)="startEditing(element, month)">{{ element[month] }}</span>
                            </ng-template>
                        </td>
                    </ng-container>
            
                    <!-- Filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
           
        </div>

        <div class="right">
            <span class="title">Plan Comercial (Solo lectura)</span>

            <div class="s-container">
                <span class="sub">Cantidad de piezas planificadas.</span>
                <div class="badges-container">
                    <i class="bi bi-zoom-in s-icon"
                        (click)="openZoom(2)"></i>                    
                    <i class="bi bi-view-stacked s-icon"
                        (click)="openStacked(2)"></i>                  

                </div>
            </div>

            <div class="simple-spinner" *ngIf="showLoadSpinner"></div>

            <div class="table-container" *ngIf="!showLoadSpinner">
                <table mat-table [dataSource]="dataSourcePlan">
                    <ng-container *ngFor="let column of displayedColumnsPlan"
                        [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef sticky>
                             {{column}} </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                             {{ element[column] }} </td>
                    </ng-container>
    
                  
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlan;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPlan"></tr>
                </table>
            </div>
          

        </div>
    </div>

    <div class="down">
        <div class="upper">
            <span class="title">Desplazamiento</span>
            <div class="sub-container">

            </div>

            <span class="sub">Escenarios de unidades en el tiempo.</span>

            <div class="simple-spinner" *ngIf="showLoadSpinner"></div>


            <div class="table-container" *ngIf="!showLoadSpinner">
                <table mat-table [dataSource]="dataSourcethird">
                    <ng-container *ngFor="let column of displayedColumnsThird"
                        [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef sticky>
                            {{column}}
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{ element[column]}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsThird;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsThird"></tr>
                </table>
            </div>
        </div>

    </div>

</div>