<div class="main">
    <div class="header">
        <span>Editar simple</span>
        <span class="sub-title">Edita la cantidad de unidades disponibles al mes.</span>
    </div>

    <div class="body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="sub-container">
                    <span class="t-text">Valores de unidades por mes.</span>

                    <div class="info-edit">
                      <span class="item">{{item + ', ' + proveedor }}</span>
                      <i class="bi bi-info-circle border" (click)="allowEdit()"></i>

                    </div>

                   

                </div>

                <div class="inputs" *ngIf="showEdit">

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Clave</mat-label>
                            <input matInput formControlName="clave" [disabled]="true">
                            <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                              Name is required.
                            </mat-error>
                          </mat-form-field>
                    </div>
                   

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Proveedor</mat-label>
                            <input matInput formControlName="proveedor">
                            <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                              Name is required.
                            </mat-error>
                          </mat-form-field>
                    </div>


                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="descripcion">
                            <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                              Name is required.
                            </mat-error>
                          </mat-form-field>
                    </div>

                    <div class="o-input">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Conjuntos</mat-label>
                            <input matInput formControlName="conjuntos">
                            <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                              Name is required.
                            </mat-error>
                          </mat-form-field>
                    </div>


                      
                </div>

                <div class="datos">

                      <div class="all-inputs">
                        <div class="input-container11">
                          <label for="ener">Enero</label>
                          <input type="text" placeholder=" " id="ener"
                            formControlName="enero">
                         </div>


                         <div class="input-container11">
                          <label for="feb">Febrero</label>
                          <input type="text" placeholder=" " id="feb"
                            formControlName="febrero">
                         </div>


                         <div class="input-container11">
                          <label for="marz">Marzo</label>
                          <input type="text" placeholder=" " id="marz"
                            formControlName="marzo">
                         </div>


                         <div class="input-container11">
                          <label for="abri">Abril</label>
                          <input type="text" placeholder=" " id="abri"
                            formControlName="abril">
                         </div>

                         <div class="input-container11">
                          <label for="mayo">Mayo</label>
                          <input type="text" placeholder=" " id="mayo"
                            formControlName="mayo">
                         </div>

                         <div class="input-container11">
                          <label for="juni">Junio</label>
                          <input type="text" placeholder=" " id="juni"
                            formControlName="junio">
                         </div>

                         <div class="input-container11">
                          <label for="juli">Julio</label>
                          <input type="text" placeholder=" " id="juli"
                            formControlName="julio">
                         </div>

                         <div class="input-container11">
                          <label for="agost">Agosto</label>
                          <input type="text" placeholder=" " id="agost"
                            formControlName="agosto">
                         </div>

                         <div class="input-container11">
                          <label for="septi">Septiembre</label>
                          <input type="text" placeholder=" " id="septi"
                            formControlName="septiembre">
                         </div>

                         <div class="input-container11">
                          <label for="octubre">Octubre</label>
                          <input type="text" placeholder=" " id="octubre"
                            formControlName="octubre">
                         </div>

                         <div class="input-container11">
                          <label for="novie">Noviembre</label>
                          <input type="text" placeholder=" " id="novie"
                            formControlName="noviembre">
                         </div>

                         <div class="input-container11">
                          <label for="dicie">Diciembre</label>
                          <input type="text" placeholder=" " id="dicie"
                            formControlName="diciembre">
                         </div>

                      </div>

                     

                    <div class="d-containers" *ngIf="showEdit">
                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Enero</mat-label>
                                <input matInput formControlName="enero">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Febrero</mat-label>
                                <input matInput formControlName="febrero">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Marzo</mat-label>
                                <input matInput formControlName="marzo">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Abril</mat-label>
                                <input matInput formControlName="abril">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Mayo</mat-label>
                                <input matInput formControlName="mayo">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Junio</mat-label>
                                <input matInput formControlName="junio">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Julio</mat-label>
                                <input matInput formControlName="julio">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Agosto</mat-label>
                                <input matInput formControlName="agosto">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Septiembre</mat-label>
                                <input matInput formControlName="septiembre">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Octubre</mat-label>
                                <input matInput formControlName="octubre">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Noviembre</mat-label>
                                <input matInput formControlName="noviembre">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="d-input">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Diciembre</mat-label>
                                <input matInput formControlName="diciembre">
                                <mat-error *ngIf="editForm.get('name')?.hasError('required')">
                                  Name is required.
                                </mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                        
                   
                </div>
              
            </div>
        </form>
    </div>

    <div class="footer">
        <button class="btn btn-light" (click)="close()">Cancelar</button>
        <button class="btn btn-success" [disabled]="editForm.invalid"
            (click)="testSend()">Guardar</button>
    </div>
</div>