<div class="main-content">

    <div class="menu-content">

        <div class="sides">
            <div class="left">
                <span class="title">{{currentData.categoria == 1 ? 'Público' : 'Privado'}}</span>

                <select name="" id="" class="p-select"
                    (change)="onChangePlanName($event)">
                    <option value="" disabled
                        class="p-option">
                        Selecciona un plan
                    </option>
                    <option [value]="option.id_plan" *ngFor="let option of list_plan_names"
                        class="p-option">
                        {{ option.nombre }}
                    </option>
                </select>
    
                <div class="h-container">
                    <div class="item-container">
                        <span class="i-text">Tipo de vista</span>
                        <select name="" id="" class="i-select">
                            <option value="" disabled selected>
                                Selecciona una 
                            </option>
                            <option value="" *ngFor="let view of list_plan_views">
                                {{ view.name}}
                            </option>
                        </select>
                    </div>

                    <div class="item-container">
                        <span class="i-text">Periodo de tiempo</span>
                        <select name="" id="" class="i-select">
                            <option value="" disabled selected>
                                Selecciona uno 
                            </option>
                            <option value="" *ngFor="let view of list_plan_times">
                                {{ view.name}}
                            </option>
                        </select>
                    </div>
                    
                    
    
                </div>
    
    
            </div>
            <div class="right">
                <div class="top">
                    <div class="menu-container">
                        <div class="menu-option" *ngFor="let option of main_menu_list; let i = index"
                            (click)="onMainMenuOptionSelected(option)">
                            <span class="menu-text" 
                                [ngClass]="{'selected': isMainMenuOptSelected && option.idT === mainMenuIdSelected }">
                                {{ option.name }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="down">
                        @if(isMainMenuOptSelected && mainMenuIdSelected === 1) {
                            <app-ribbon-information></app-ribbon-information>
                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 2){

                            <div class="columnas-container">
                                <div class="im-container">
                                    <div class="im-header">
                                        <span class="im-header-title">Visualización</span>

                                    </div>
                                    <div class="im-body">
                                       

                                       
                                        <div class="custom-dropdown" [class.open]="isDropdownOpen">
                                            <button class="dropdown-toggle" (click)="toggleDropdown()">
                                              Visibles
                                            </button>
                                            <div class="dropdown-menu">
                                                <div *ngFor="let column of (visibleColumns$ | async)" class="dropdown-item">
                                                    <label>
                                                      <input type="checkbox" 
                                                             [checked]="column.visible" 
                                                             (change)="toggleColumnVisibility(column)">  <!-- Usa el método del componente -->
                                                      {{ column.header }}
                                                    </label>
                                                  </div>


                                            </div>
                                          </div>

                                          <div class="custom-dropdown"
                                            [class.open]="isDropdownHideOpen">
                                            <button class="dropdown-toggle"
                                                (click)="toggleHideDropwon()">
                                                Ocultas
                                            </button>
                                            <div class="dropdown-menu">
                                                <div *ngFor="let column of (hiddenColumns$ | async)" class="dropdown-item">
                                                    <label>
                                                      <input type="checkbox"
                                                             [checked]="!column.visible"
                                                             (change)="toggleColumnVisibility(column)">  <!-- Usa el método del componente -->
                                                      {{ column.header }}
                                                    </label>
                                                  </div>
                                            </div>

                                          </div>


                                    </div>
                                </div>

                                <div class="im-container">
                                    <div class="im-header">
                                        <span class="im-header-title">Grupos</span>

                                    </div>
                                    <div class="im-body">
                                        <button class="im-btn">Crear nuevo</button>
                                        <button>Editar</button>

                                    </div>
                                </div>

                            </div>

                            

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 3){
                            <span>Se trata de opciones</span>

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 4){
                            <app-ribbon-data></app-ribbon-data>

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 5){
                            <span>Se trata de buscar</span>

                        }

                </div>
              
            </div>
        </div>

       

      
      </div>

      <app-main-table></app-main-table>


</div>

