<div class="main-content">

    <div class="menu-content">

        <div class="sides">
            <div class="left">
                <span class="title">{{currentData.categoria == 1 ? 'Comercial Público' : 'Comercial Privado'}}</span>

                <select name="" id="" class="p-selects"
                    (change)="onChangePlanName($event)">
                    <option value="" disabled
                        class="p-option">
                        Selecciona un plan
                    </option>
                    <option [value]="option.id_plan" *ngFor="let option of list_plan_names"
                        class="p-option">
                        {{ option.nombre }}
                    </option>
                </select>
    
                <div class="h-container">
                    <div class="item-container">
                        <span class="i-text">Tipo de vista</span>
                        <select name="" id="" class="i-select"
                            (change)="onViewChange($event)">
                            <option value="" disabled selected>
                                Selecciona una 
                            </option>
                            <option [value]="view.id" *ngFor="let view of rxView_list">
                                {{ view.name}}
                            </option>
                        </select>
                    </div>

                    <div class="item-container">
                        <span class="i-text">Periodo de tiempo</span>
                        <select name="" id="" class="i-select">
                            <option value="" disabled selected>
                                Selecciona uno 
                            </option>
                            <option value="" *ngFor="let view of list_plan_times">
                                {{ view.name}}
                            </option>
                        </select>
                    </div>
                    
                    
    
                </div>
    
    
            </div>
            <div class="right">
                <div class="top">
                    <div class="menu-container">
                        <div class="menu-option" *ngFor="let option of main_menu_list; let i = index"
                            (click)="onMainMenuOptionSelected(option)">
                            <span class="menu-text" 
                                [ngClass]="{'selected': isMainMenuOptSelected && option.idT === mainMenuIdSelected }">
                                {{ option.name }}
                            </span>
                        </div>
                    </div>

                    <div class="search-container">
                        <i class="bi bi-search m-icon"></i>
                        <input type="text" class="form-control" placeholder="Ingresa algo para buscar..."
                            class="m-input">

                    </div>

                </div>
                <div class="down">
                        @if(isMainMenuOptSelected && mainMenuIdSelected === 1) {
                            <app-ribbon-information></app-ribbon-information>
                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 2){

                    
                                                      

                            <app-ribbon-columns></app-ribbon-columns>
                            

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 3){
                            <span>Se trata de opciones</span>

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 4){
                            <app-ribbon-data></app-ribbon-data>

                        }@else if(isMainMenuOptSelected && mainMenuIdSelected === 5){
                            <span>Se trata de buscar</span>

                        }

                </div>
              
            </div>
        </div>

       

      
      </div>

      <div class="sub-menu-content">
        <span>Llenado absoluto</span>
        <input type="number" class="form-control">
        <div class="sm-container">
            <i class="bi bi-check-lg"></i>
            <i class="bi bi-x-lg"></i>
        </div>
      </div>


   <ng-container *ngIf="!editMode; else editTemplate">
        <app-main-table></app-main-table>
   </ng-container>

   <ng-template #editTemplate>
        <app-edit-table></app-edit-table>
   </ng-template>
      


</div>

