@use '../../../../../styles/_abstracts/index' as a;

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    .title{
        @include a.mx-text-title-lg;
    }

    .sub{
        @include a.mx-text-body;
    }

    .card-title{
        @include a.mx-card-title;
        font-size: 17px

    }

    .image-container-1{
        width: 250px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20%;
        top: 1%;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;  
        }
    }

    .image-container{
        width: 250px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1%;
        top: 1%;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;  
        }
    }


    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 1rem;
        padding-left: 4rem;
        padding-top: 5rem;

     

        .dividers{
            width: 100%;
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .left{
                width: 50%;
                display: flex;

                .indi-container{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem 0px;
                    gap: 1rem;
        
                    .indi{
                        width: calc(50% - 16px);
                        height: 310px;

                        background-color: white;
                        border-radius: 16px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.316);
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .indi-menu{
                            position: absolute;
                            width: 180px;
                            height: 130px;
                            background-color: white;
                            border: 1px solid gray;
                            padding: 1rem;
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.562);
                            right: 9%;
                            top: 10%;
                            border-radius: 12px;
                            z-index: 1000;

                            .opt{
                                &:hover{
                                    transition: all 0.2s ease-in-out;
                                    padding: .3rem .5rem;

                                    cursor:pointer;
                                    background-color: rgba(0, 0, 0, 0.297);
                                }
                            }
                        }

                        .c-icon{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            transition: all 0.2s ease-in-out;
                            top:1%;
                            right:1%;

                            &:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.301);
                            }
                            
                        }
                     

                        .table-container{
                            width: 100%;
                            display: flex;
                            overflow-y: auto;
                            overflow-x: auto;
                            margin-top: 1.5rem;
                            max-height: 300px;
                        }
                    }
                }
            }

            .right{
                width: 50%;
                display: flex;

                
                .util-container{
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    //padding: 1rem;
                    gap: 1rem;
                    //background-color: rgb(241, 130, 130);

        

                    .util{
                        width: calc(50% - 16px);
                        height: 310px;
                        background-color: white;
                        border-radius: 16px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.316);
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;


                        .down-text{
                            line-height: 1.1;
                            /* background-color: red; */
                            font-weight: 650;
                            font-size: 13px;
                            color: #7b7b7b;
                        }

                        
                    .utils-menu{
                        position: absolute;
                        width: 180px;
                        height: 130px;
                        background-color: white;
                        border: 1px solid gray;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.562);
                        right: 9%;
                        top: 10%;
                        border-radius: 12px;

                        .opt{
                            &:hover{
                                transition: all 0.2s ease-in-out;
                                padding: .3rem .5rem;

                                cursor:pointer;
                                background-color: rgba(0, 0, 0, 0.297);
                            }
                        }
                    }

                        .c-icon{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            transition: all 0.2s ease-in-out;
                            top:1%;
                            right:1%;

                            &:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.301);
                            }
                            
                        }
                    }
                }

            }
        }

       
    }


    .main-instituciones{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 1rem;
        padding-left: 4rem;

     

       
        .dividers{
            width: 100%;
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .left{
                width: 50%;
                display: flex;

                .indi-container{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem 0px;
                    gap: 1rem;
        
                    .indi{
                        width: calc(50% - 16px);
                        height: 310px;

                        background-color: white;
                        border-radius: 16px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.316);
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .indi-menu{
                            position: absolute;
                            width: 180px;
                            height: 130px;
                            background-color: white;
                            border: 1px solid gray;
                            padding: 1rem;
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.562);
                            right: 9%;
                            top: 10%;
                            border-radius: 12px;
                            z-index: 1000;

                            .opt{
                                &:hover{
                                    transition: all 0.2s ease-in-out;
                                    padding: .3rem .5rem;

                                    cursor:pointer;
                                    background-color: rgba(0, 0, 0, 0.297);
                                }
                            }
                        }

                        .c-icon{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            transition: all 0.2s ease-in-out;
                            top:1%;
                            right:1%;

                            &:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.301);
                            }
                            
                        }
                     

                        .table-container{
                            width: 100%;
                            display: flex;
                            overflow-y: auto;
                            overflow-x: auto;
                            margin-top: 1.5rem;
                            max-height: 300px;
                        }
                    }
                }
            }

            .right{
                width: 50%;
                display: flex;

                
                .util-container{
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    //padding: 1rem;
                    gap: 1rem;
                    //background-color: rgb(241, 130, 130);

        

                    .util{
                        width: calc(50% - 16px);
                        height: 310px;
                        background-color: white;
                        border-radius: 16px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.316);
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .down-text{
                            line-height: 1.1;
                            /* background-color: red; */
                            font-weight: 650;
                            font-size: 13px;
                            color: #7b7b7b;
                        }

                        
                    .utils-menu{
                        position: absolute;
                        width: 180px;
                        height: 130px;
                        background-color: white;
                        border: 1px solid gray;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.562);
                        right: 9%;
                        top: 10%;
                        border-radius: 12px;

                        .opt{
                            &:hover{
                                transition: all 0.2s ease-in-out;
                                padding: .3rem .5rem;

                                cursor:pointer;
                                background-color: rgba(0, 0, 0, 0.297);
                            }
                        }
                    }

                        .c-icon{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            transition: all 0.2s ease-in-out;
                            top:1%;
                            right:1%;

                            &:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.301);
                            }
                            
                        }
                    }
                }

            }
        }

       
    }

    .main-principales{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 1rem;
        padding-left: 4rem;

        .down-text{
            line-height: 1.1;
            /* background-color: red; */
            font-weight: 650;
            font-size: 13px;
            color: #7b7b7b;
        }

        .table-container{
            margin-top: 2rem;
            padding: 1rem;
            width: 100%;
            height: 60vh;
            overflow-y: auto;
            background-color: white;
            border-radius: 8px;
        }




    }
}