<div class="main-content">

  

    <div class="image-container">
        <img src="logovan.png" alt="">
    </div>

  

    <section class="main">
        <span class="title">Indicadores Clave (Proveedores)</span>
        <span class="sub">Visualiza puntos clave de múltiples áreas</span>

        <div class="dividers">
            <div class="left">
                <div class="indi-container">

                    
                    <div class="indi" *ngFor="let item of kpi_proveedores">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                            (click)="openTopMenu(item)"></i>

                        <div class="indi-menu" *ngIf="showTopMenu && selectedTopOption === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list"
                                (click)="onMenuSelected(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                            
                            <div class="table-container">
                                <table mat-table [dataSource]="getDataSource(item.id)">
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef
                                            sticky>
                                            {{ column }}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element[column] }}
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" ></tr>
                                    
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>

                        


                    </div>
                </div>
            </div>
            <div class="right">
                <div class="util-container">
                    <div class="util" *ngFor="let item of kp_util_list">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                        (click)="openTopMenuR(item)"></i>
                        

                        <div class="utils-menu" *ngIf="showTopMenuR && selectedTopOption === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list_right"
                                (click)="onMenuSelectedR(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                    
                        @if(item.id === 1 ){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [units]="''"
                            [showAxis]="false"
                            [max]="totalValuess"> 
                          </ngx-charts-gauge>


                          <span class="down-text">{{valueText}}</span>
                            
                        }@else if(item.id === 2){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [max]="100" 
                            [units]="'%'"
                            [valueFormatting]="formatValue"
                            > 
                            </ngx-charts-gauge>

                            <span class="down-text">{{percentText}}</span>

                        }

                     

                    </div>
                </div>
            </div>
        </div>

     
    </section>









    <section class="main-instituciones">
        <span class="title">Indicadores Clave (Clientes)</span>
        <span class="sub">Visualiza puntos clave de múltiples áreas</span>

        <div class="dividers">
            <div class="left">
                <div class="indi-container">
                    <div class="indi" *ngFor="let item of kpi_clientes">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                        (click)="openDownMenu(item)"></i>

                        <div class="indi-menu" *ngIf="showDownMenu && selectedDownOption === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list"
                                (click)="onMenuSelectedDown(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                            
                            <div class="table-container">
                                <table mat-table [dataSource]="getDataSourceCliente(item.id)">
                                    <ng-container *ngFor="let column of displayedColumnsCliente" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef
                                            sticky>
                                            {{ column }}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element[column] }}
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente;sticky:true"></tr>
                                    
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></tr>
                                </table>
                            </div>

                        


                    </div>
                </div>
            </div>
            <div class="right">
                <div class="util-container">
                    <div class="util" *ngFor="let item of utils_kp_util_list">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                        (click)="openDownMenuR(item)"></i>
                        

                        <div class="utils-menu" *ngIf="showDownMenuR && selectedDownUtil === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list_right"
                                (click)="onMenuSelectedDownR(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                    
                        @if(item.id === 1 ){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [units]="''"
                            [showAxis]="false"
                            [max]="1692229"> 
                          </ngx-charts-gauge>

                          <span class="down-text">{{valueTextDown}}</span>

                            
                        }@else if(item.id === 2){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [max]="100" 
                            [units]="'%'"
                            [valueFormatting]="formatValue"
                            > 
                            </ngx-charts-gauge>

                            <span class="down-text">{{percentTextDown}}</span>

                        }

                     

                    </div>
                </div>
            </div>
        </div>


     
    </section>


    <section class="main-principales">
        <span class="title">Principal cliente y principal proveedor</span>
        <span class="sub">Visualiza al cliente y proveedor principal</span>

           
        <div class="table-container">

            <span class="title">Público</span>

            <table mat-table [dataSource]="dataSource5">
                <ng-container *ngFor="let column of displayedColumnsPrincipal" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ column }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element[column] }}
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPrincipal"></tr>
                
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPrincipal;"></tr>
            </table>
        </div>


        <div class="table-container">
            <span class="title">Privado</span>

            <table mat-table [dataSource]="dataSource6">
                <ng-container *ngFor="let column of displayedColumnsPrincipal" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ column }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element[column] }}
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPrincipal"></tr>
                
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPrincipal;"></tr>
            </table>
        </div>

    </section>
</div>