<div class="main-content">

  

    <div class="image-container">
        <img src="logovan.png" alt="">
    </div>

  

    <section class="main">
        <span class="title">Indicadores Clave (Proveedores)</span>
        <span class="sub">Visualiza puntos clave de múltiples áreas</span>

        <div class="dividers">
            <div class="left">
                <div class="indi-container">

                    
                    <div class="indi" *ngFor="let item of kpi_proveedores">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                            (click)="openTopMenu(item)"></i>

                        <div class="indi-menu" *ngIf="showTopMenu && selectedTopOption === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list"
                                (click)="onMenuSelected(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                            
                            <div class="table-container">
                                <table mat-table [dataSource]="getDataSource(item.id)">
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef>
                                            {{ column }}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element[column] }}
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>

                        


                    </div>
                </div>
            </div>
            <div class="right">
                <div class="util-container">
                    <div class="util" *ngFor="let item of kp_util_list">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"
                        (click)="openTopMenuR(item)"></i>
                        
                        <span>sdsdñlaskdlñaskdñlaskd</span>

                        <div class="utils-menu" *ngIf="showTopMenuR && selectedTopOption === item.id">
                            <div class="menu-options" *ngFor="let option of menu_list"
                                (click)="onMenuSelectedR(option, item)">
                                <span class="opt">{{option.title}}</span>
                            </div>
                            
                        </div>

                    
                        @if(item.id === 1 ){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [units]="''"
                            [showAxis]="false"
                            [max]="1692229"> 
                          </ngx-charts-gauge>
                            
                        }@else if(item.id === 2){
                            <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [max]="100" 
                            [units]="'%'"
                            [valueFormatting]="formatValue"
                            > 
                            </ngx-charts-gauge>
                        }

                     

                    </div>
                </div>
            </div>
        </div>

     
    </section>









    <section class="main-instituciones">
        <span class="title">Indicadores Clave (instituciones)</span>
        <span class="sub">Visualiza puntos clave de múltiples áreas</span>

        <div class="dividers">
            <div class="left">
                <div class="indi-container">
                    <div class="indi" *ngFor="let item of kpi_clientes">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"></i>

                            
                            <div class="table-container">
                                <table mat-table [dataSource]="getDataSourceCliente(item.id)">
                                    <ng-container *ngFor="let column of displayedColumnsCliente" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef>
                                            {{ column }}
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element[column] }}
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCliente"></tr>
                                    
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCliente;"></tr>
                                </table>
                            </div>

                        


                    </div>
                </div>
            </div>
            <div class="right">
                <div class="util-container">
                    <div class="util" *ngFor="let item of kpi_clientes">
                        <span class="card-title">{{item.title}}</span>
                        <i class="bi bi-three-dots-vertical c-icon"></i>

                     


                    <!-----
                    
                            
                       @if(item.id === 1) {

                        <ngx-charts-gauge
                        [view]="[230, 250]"
            
                        [results]="item.data"
                        [scheme]="'flame'"
                        [angleSpan]="240"
                        [startAngle]="-120"
                        [units]="'%'">
                      </ngx-charts-gauge>
                    


                       }@else if(item.id === 2){
                        <ngx-charts-gauge
                            [view]="[230, 250]"
                            [results]="item.data"
                            [scheme]="'flame'"
                            [angleSpan]="240"
                            [startAngle]="-120"
                            [max]="100" 
                            [units]="'%'"
                            [valueFormatting]="formatValue"
                            > 
                            </ngx-charts-gauge>
                       }
                    -->


                          

                    </div>
                </div>
            </div>
        </div>


     
    </section>
</div>