.main-modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 91vh;

    .header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            line-height: 1.1;
            font-size: 28px;
            font-weight: 630;
        }

        .circle-icon{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: black;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            //box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.363);
            transition: all 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: rgba(48, 47, 47, 0.226);
                transform: scale(1.03);
            }
        }

        .circle-icon-green{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: black;
          color: white;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.363);
          transition: all 0.3s ease-in-out;

          &:hover{
              cursor: pointer;
              background-color: rgb(48, 47, 47);
              transform: scale(1.03);
          }
      }
    }

    .body{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        position: relative;
        //background-color: #424242;

        .options-container{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            .sub{
                line-height: 1.1;
                font-size: 22px;
                font-weight: 580;
                color: #424242;
            }

            .icon-container{
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                align-items: center;
                margin-left: 7rem;
                padding-top: .5rem;
                position: relative;

                .circle-icon{
                    background-color: rgb(24, 24, 185);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:white;
                    transition: all 0.3s ease-in-out;
                    position: relative;

                    &:hover{
                        cursor: pointer;
                        background-color: rgb(17, 17, 112);
                        transform: scale(1.03);
                    }

                    &::after{
                      content: attr(data-tooltip);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background-color: rgb(58, 58, 59);
                      border-radius: 6px;
                      color: white;
                      width: fit-content;
                      padding: 0.2rem 0.5rem;
                      position: absolute;
                      font-size: 12px;
                      white-space: nowrap;
                      top: 105%;
                      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.295);
                      transition: all 0.2s ease-in-out;
                      opacity: 0;
                    }

                    &:hover::after{
                      opacity: 1;
                      pointer-events: none;
                    }
                    
                }

                .green{
                  background-color: rgb(24, 153, 6);
                 

                  &:hover{
                      background-color: rgb(18, 112, 6);
                  }
              }

              .red{
                background-color: rgb(185, 46, 4);

                &:hover{
                  background-color: rgb(128, 33, 4);

                }

              }

              .op-menu{
                position: absolute;
                width: 170px;
                height: 190px;
                border-radius: 12px;
                background-color: #f9f9f9;
                z-index: 1000;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 4px 10px #000000b0;
                top: 97%;
                right: -92%;

                .op-menu-container{
                  display: flex;
                  flex-direction: column;

                  span{
                    line-height: 1.1;
                    padding: .3rem .5rem;
                    transition: all 0.3s ease-in;

                    &:hover{
                      cursor: pointer;
                      background-color: rgba(71, 71, 71, 0.349);
                    }
                  }
                }

              }

            }


            .views-menu{
                position: absolute;
                background-color: whitesmoke;
                border-radius: 16px;
                box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.425);
                transition: all 0.2s ease-in-out;
                padding: 1rem;
                right: 56%;
                top: 59%;
                width: 16vw;
                height: 171px;
                display: flex;
                flex-direction: column;

                .menu-option{
                    line-height: 1.1;
                    font-weight: 600px;
                    transition: all 0.2s ease-in-out;

                    &:hover{
                        cursor: pointer;
                        background-color: rgba(128, 128, 128, 0.199);
                    }
                }

            }


            .input-container{
              align-self: flex-end;
              position: absolute;
              right: 1%;
              bottom: -23%;
              width: 40%;
              display: flex;
              justify-content: center;
              align-items: center;

              .icons{
                position: absolute;
                bottom: 22%;
                left: 2.7%;
                color: #c4c4c4;
                /* background-color: gray; */
                /* padding: 0.2rem; */
              }

              input{
                width: 100%;
                border-radius: 23px;
                border: 1px solid #bbbbbb;
                outline: none;
                padding: 0.5rem 1rem;
                padding-left: 2rem;
              }
            }
        }

        .tables{
        margin-top: 2.3rem;
            width: 100%;
            flex-direction: column;
            display: flex;
            padding: 0px 1rem;
            //background-color: #4643434d;

            
            .left{
                width: 100%;
                height: 100%;
                //background-color: yellow;
                overflow-y: auto;
                //padding: 1rem;
                //soverflow: hidden;
                //border-radius: 16px;
                white-space: nowrap;
                position: relative;
                //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.336);

              
                .float-selected{
                  position: fixed;
                  border-radius: 20px;
                  width: 40vw;
                  right: 30%;
                  height: 72px;
                  justify-content: center;
                  padding: 1rem;
                  background-color: #ffffff;
                  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.39);
                  top: 34%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  z-index: 10000000000000;

                    .close{
                      position: absolute;
                      top: 5%;
                      right: 2%;
                      width: 32px;
                      height: 32px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;

                      &:hover{
                        background-color: #d9d9d95d;
                        cursor: pointer;
                      }
                    }
                }



                table{


                  th.mat-header-cell {
                    color: red;
                    background-color: black;
                  }

                    .mat-mdc-row:hover {
                        background-color: rgb(224, 220, 220);
                        cursor: pointer;
                      }

                                            
                    tr.mat-row {
                        cursor: pointer;
                    }
                    
                    tr.mat-row:hover {
                        background-color: #f5f5f5;
                    }


                    mat-row {
                        cursor: pointer;
                      }
                      
                      /* Efecto hover sobre las filas */
                      mat-row:hover {
                        background-color: #f5f5f5;
                      }

                }

                /*
                      .tablax{
                  border-radius: 16px;
                }
                */  
              


      
                .l-menu{
                  position: absolute;
                  width: 18vw;
                  height: 23vh;
                  z-index: 1000;
                  top: 0;
                  left: 0;
                  border-radius: 8px;
                  padding: 1rem;
                  background-color: #f0f0f0;
                  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.425);
                 
                  display: flex;
                  flex-direction: column;

                  .menu-list{
                    line-height: 1.1;
                    transition: 0.3s ease;
                    padding: .6rem 0;
                    padding-left: .4rem;
                    transition: all .2s ease-in-out;

                    
                    &:hover{
                      cursor: pointer;
                      background-color: #27262650;
                    }

                  }
                }



               


                .subtitulo {
                    text-align: center;
                    background-color: #f2f2f2;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 16px;
                  }
                  

            }

        }

        .utilidad{
          width: 40%;
          height: 10vh;
          display: flex;
          border-radius: 16px;
          padding: .7rem;
          position: absolute;
          bottom:0%;
          left: 0%;
          background: rgb(121,9,32);
          background: linear-gradient(55deg, rgba(121,9,32,1) 0%, rgba(121,9,32,1) 41%, rgba(255,0,0,0.8239670868347339) 94%);

          .left{
            display: flex;
            flex-direction: column;
            width: 50%;
            
            .u-title{
              line-height: 1.1;
              font-weight: 750;
              color: white;
              font-size: 22px;
            } 

            .u-sub{
              line-height: 1.1;
              font-weight: 650;
              color: rgba(255, 255, 255, 0.404);
              font-size: 18px;
            } 
          }

          .right{
            display: flex;
            width: 50%;
            
              .r-title{
                line-height: 1.1;
                font-weight: 750;
                color: white;
                font-size: 28px;
              } 
            
          }
        }

    }
}



// Añade esto a tu archivo SCSS del componente
::ng-deep .mat-mdc-paginator-page-size-select {
    z-index: 1100 !important; // Mayor que el z-index del modal de Bootstrap
  }
  
  ::ng-deep .mat-mdc-select-panel {
    z-index: 1100 !important;
  }
  
  // Y asegúrate de que el modal tenga la configuración de overflow adecuada
  ::ng-deep .modal-body {
    overflow: visible !important;
  }



  
              

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura según sea necesario */
  }
  
  mat-spinner {
    margin: 0 auto; /* Centra el spinner */
  }