@use 'sass:color';

.main-modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 91vh;

    .header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;


        .v-container{
          width: 90%;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 12%;

          .sub{
            line-height: 1.1;
            font-size: 30px;
            font-weight: 700;
            color: rgb(24, 24, 185);
          }

          .title{
            line-height: 1.1;
            font-size: 18px;
            font-weight: 630;
        }

          .h-container{
            display:flex;
            gap:1rem;

            .qs-container{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 1rem;
             
              
              .q-text{
                background-color: rgb(24, 24, 185);
                color: white;
                border-radius: 6px;
                padding: 0.2rem 0.6rem;
                font-size: 16px;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
    
                &:hover{
                  cursor:pointer;
                  background-color: color.adjust(rgb(24, 24, 185), $lightness: -20%);
                }
              }
    
    
           
    
              .red{
                font-size: 18px;
                color: red;
                font-weight: 700;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
    
                &:hover{
                  cursor: pointer;
                  background-color: rgba(255, 0, 0, 0.384);
                  color: rgb(105, 5, 5);
                }
              }
    
            
            }
    
          }

         

     


        }

        .settings-menu{
          width: 180px;
          height: 200px;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          background-color: white;
          border-radius: 12px;
          border: 1px solid rgba(0, 0, 0, 0.267);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.336);
          position: absolute;
          right: 1%;
          top: 72%;
          z-index: 1;
          transition: all .3s ease-in-out;

          .settings-options-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .settings-options{
              transition: all 0.3s ease-in-out;
              padding: 0.3rem 0.6rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-radius: 6px;
              //margin-bottom: .5rem;


              &:hover{
                cursor: pointer;
                background-color: rgba(128, 128, 128, 0.219);


              }
              span{
                line-height: 1.1;
                font-size: 14px;
                text-align:left;
                //font-weight: 650;
              }

              i{
                font-size: 10px;
              }
            }
          }

          .first-sub-menu{
            width: 180px;
            height: 120px;
            background-color: white;
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.267);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.336);
            position: absolute;
            left: -105%;
            top: 3%;

            .fs-container{
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              padding: 1rem;

              .fs-item{
                line-height: 1.1;
                font-size: 13px;
                padding: .3rem .5rem;
                border-radius: 6px;
                transition: all 0.2s ease-in-out;
                font-weight: 500;

                &:hover{
                  cursor:pointer;
                  background-color: rgba(44, 43, 43, 0.24)

                }
              }

            
            }

          }
        }

        .title{
            line-height: 1.1;
            font-size: 18px;
            font-weight: 630;
        }

        .circle-icon{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: black;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            //box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.363);
            transition: all 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: rgba(48, 47, 47, 0.226);
                transform: scale(1.03);
            }
        }

        .circle-icon-green{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: black;
          color: white;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.363);
          transition: all 0.3s ease-in-out;

          &:hover{
              cursor: pointer;
              background-color: rgb(48, 47, 47);
              transform: scale(1.03);
          }
      }
    }





    .body{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        position: relative;
        //background-color: #424242;

        .multi-select-container{
          width: 42%;
          height: 9vh;
          background-color: rgb(36, 36, 36);
          box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.315);
          position: absolute;
          z-index: 10;
          border-radius: 8px;
          padding: 1rem;
          display:flex;
          justify-content: center;
          align-items: center;
          bottom:1%;


          .ms-icons-container{
            width: 35%;
            display:flex;
            gap:1rem;
            align-items: center;
            justify-content: flex-end;


            .ms-icon{
              color: white;
              transition: all 0.2s ease-in-out;
              width: 30px;
              height: 30px;
              display:flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              
              &:hover{
                cursor:pointer;
                transform: scale(1.02);
                background-color: rgba(128, 128, 128, 0.301);
              }
            }
          }

         

          .ms-text{
            width:65%;
            line-height: 1.1;
            font-size:16px;
            color: white;
            font-weight: 600;
          }
          
        }

        .options-container{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            position: relative;
            //background-color: #f7afaf;

            .title{
              line-height: 1.1;
              font-size: 18px;
              font-weight: 630;
          }

            .sub{
                line-height: 1.1;
                font-size: 30px;
                font-weight: 700;
                color: rgb(24, 24, 185);
              }

          

            .qs-icon-container{

              display: flex;
              justify-content: center;
              align-items: center;
              gap: .5rem;
              position: relative;

              .q-icons{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                font-weight: 900;
                transition: all 0.2s ease-in-out;

                &:hover{
                  background-color: rgba(0, 0, 0, 0.242);
                  cursor: pointer;
                }
              }

              .op-menu{
                width: 200px;
                position: absolute;
                z-index: 1000;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 4px 6px black;
                top: 100%;
                border: 1px solid #8080806b;
                background-color: white;
                left: 100%;
                transition: all 0.2s ease-in-out;

                .op-menu-container{
                  display: flex;
                  flex-direction: column;

                  .op-menu-item{
                    line-height: 1.1;
                    font-size: 16px;
                    font-weight: 600;
                    padding: .2rem .4rem;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                      cursor: pointer;
                      background-color: rgba(128, 128, 128, 0.219);
                    }
                  }
                }
              }
            }

        
            .input-container{
              align-self: flex-end;
              width: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;

              .icons{
                position: absolute;
                bottom: 22%;
                left: 2.7%;
                color: #c4c4c4;
                /* background-color: gray; */
                /* padding: 0.2rem; */
              }

              input{
                width: 100%;
                border-radius: 23px;
                border: 1px solid #bbbbbb;
                outline: none;
                padding: 0.5rem 1rem;
                padding-left: 2rem;
              }
            }
        }

        .tables{
        margin-top: 2.3rem;
            width: 100%;
            flex-direction: column;
            display: flex;
            //padding: 0px 1rem;
            //background-color: #4643434d;
            border-radius: 32px;
            overflow: hidden;

            
            .left{
                width: 100%;
                height: 100%;
                //background-color: yellow;
                overflow-y: auto;
                //padding: 1rem;
                //soverflow: hidden;
                //border-radius: 16px;
                white-space: nowrap;
                position: relative;
                //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.336);

                .td-container{
                  display:flex;
                  gap:1rem;
                  justify-content: flex-start;
                  align-items: center;

                  .t-icon{
                      width: 35px;
                      height: 35px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;
                      transition: all 0.3s ease-in-out;
                      font-size: 18px;
                      
                      &:hover{
                        cursor:pointer;
                        background-color: rgba(0, 0, 0, 0.226);
                      }

                  }
                }

              
                .float-selected{
                  position: fixed;
                  border-radius: 20px;
                  width: 40vw;
                  right: 30%;
                  height: 72px;
                  justify-content: center;
                  padding: 1rem;
                  background-color: #ffffff;
                  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.39);
                  top: 34%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  z-index: 10000000000000;

                    .close{
                      position: absolute;
                      top: 5%;
                      right: 2%;
                      width: 32px;
                      height: 32px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 50%;

                      &:hover{
                        background-color: #d9d9d95d;
                        cursor: pointer;
                      }
                    }
                }



                table{


                  th.mat-header-cell {
                    //color: red;
                    background-color: black;
                  }

                    .mat-mdc-row:hover {
                        //background-color: rgb(228, 20, 20);
                        //cursor: pointer;
                      }

                                            
                    tr.mat-row {
                        //cursor: pointer;
                    }
                    
                    tr.mat-row:hover {
                        background-color: #f5f5f5;
                    }


                    mat-row {
                        //cursor: pointer;
                        //background-color: #bb1e1e !important;

                      }
                      
                      /* Efecto hover sobre las filas */
                      mat-row:hover {
                        background-color: #f5f5f5;
                      }

                }

                /*
                      .tablax{
                  border-radius: 16px;
                }
                */  
              


      
                .l-menu{
                  position: absolute;
                  width: 18vw;
                  height: 23vh;
                  z-index: 1000;
                  top: 0;
                  left: 0;
                  border-radius: 8px;
                  padding: 1rem;
                  background-color: #f0f0f0;
                  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.425);
                 
                  display: flex;
                  flex-direction: column;

                  .menu-list{
                    line-height: 1.1;
                    transition: 0.3s ease;
                    padding: .6rem 0;
                    padding-left: .4rem;
                    transition: all .2s ease-in-out;

                    
                    &:hover{
                      cursor: pointer;
                      background-color: #27262650;
                    }

                  }
                }



               


                .subtitulo {
                    text-align: center;
                    background-color: #f2f2f2;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 16px;
                  }
                  

            }

        }

        .utilidad{
          width: 40%;
          height: 10vh;
          display: flex;
          border-radius: 16px;
          padding: .7rem;
          position: absolute;
          bottom:0%;
          left: 0%;
          background: rgb(121,9,32);
          background: linear-gradient(55deg, rgba(121,9,32,1) 0%, rgba(121,9,32,1) 41%, rgba(255,0,0,0.8239670868347339) 94%);

          &:hover{
            cursor: pointer;
            background: linear-gradient(55deg, rgb(92, 7, 24) 0%, rgb(83, 7, 22) 41%, rgba(187, 14, 14, 0.824) 94%);
  
          }

          .left{
            display: flex;
            flex-direction: column;
            width: 50%;
            
            .u-title{
              line-height: 1.1;
              font-weight: 750;
              color: white;
              font-size: 22px;
            } 

            .u-sub{
              line-height: 1.1;
              font-weight: 650;
              color: rgba(255, 255, 255, 0.404);
              font-size: 18px;
            } 
          }

          .right{
            display: flex;
            width: 50%;
            
              .r-title{
                line-height: 1.1;
                font-weight: 750;
                color: white;
                font-size: 28px;
              } 
            
          }
        }


        
        .utilidad-details{
          width: 40%;
          height: 57vh;
          display: flex;
          flex-direction: column;
          border-radius: 16px;
          padding: 0.7rem;
          position: absolute;
          bottom: 16%;
          left: 0%;
          background: rgb(121, 9, 32);
          background: linear-gradient(
            55deg,
            rgb(121, 9, 32) 0%,
            rgb(121, 9, 32) 41%,
            rgba(255, 0, 0, 0.8239670868) 94%);
          box-shadow: 0px 6px 10px #000000b3;

          .header{
            display: flex;
            width: 100%;
            height: 10%;
            position: relative;

            .u-icon{
              width: 30px;
              height: 30px;
              color: white;
              font-weight: 700;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              position: absolute;
              right: -2%;
              top: -23%;
              transition: all 0.2s ease-in-out;
              font-size: 18px;
              z-index: 1;
  
              &:hover{
                cursor: pointer;
                background-color: #4242423f;
              }
            }
            
          }

          .bodys{
            display: flex;
            width: 100%;
            height: 90%;
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .ud-sub{
              line-height: 1.1;
              color:white;
              font-size: 16px;
              font-weight: 700;

            }

            .data-container{
              display:flex;
              width: 100%;
              flex-direction: column;
              margin-top: 1.5rem;

              .data{
                display: flex;
                flex-direction: column;
                gap:.25rem;
                margin-bottom: .4rem;

                .ud-text{
                  line-height: 1.1;
                  color:rgb(197, 196, 196);
                  font-size: 14px;
                  font-weight: 600;
                }

                .ud-value{
                  line-height: 1.1;
                  color:rgb(117, 117, 117);
                  font-size: 14px;
                  font-weight: 600;
                }
              }
            }

            .sides{
              margin-top: 1.5rem;
              width: 100%;
              display: flex;

              .ud-text{
                line-height: 1.1;
                color:rgb(197, 196, 196);
                font-size: 14px;
                font-weight: 600;
                margin-bottom: .3rem;
              }

              .ud-value{
                line-height: 1.1;
                color: white;
                font-size: 19px;
                font-weight: 700;
              }

              .left{
                width: 50%;
                display: flex;
                flex-direction: column;
              }

              .right{
                width: 50%;
                display: flex;
                flex-direction: column;
              }
            }


            .u-btn{
              width: 80%;
              padding: .5rem .8rem;
              background-color: white;
              outline: none;
              border: none;
              border-radius: 12px;
              color: black;
              font-weight: 630;
              font-size: 16px;
              margin-top: 1.5rem;
              transition: all 0.3s ease-in-out;

              &:hover{
                cursor: pointer;
                background-color: rgb(184, 182, 182);

              }
            }
          
          }
       

        
        }


        

    }
}



::ng-deep .mat-mdc-paginator-page-size-select {
    z-index: 110000000 !important; 
  }
  
  ::ng-deep .mat-mdc-select-panel {
    z-index: 110000000 !important;
  }
  
  ::ng-deep .modal-body {
    overflow: visible !important;
  }



  
              

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
  }
  
  mat-spinner {
    margin: 0 auto; 
  }



  .card-container {
    position: absolute;
    width: 40%;
    height: auto;
    //padding: 0.6rem;
    //background-color: aqua;
    left: -.8%;
    bottom: 14%;
    display: flex;
  }
  
  .card {
    
 position: absolute;
 width: 70%;
 height: 13vh;
 background: rgb(121, 9, 32);
 background: linear-gradient(
   55deg,
   rgb(121, 9, 32) 0%,
   rgb(121, 9, 32) 41%,
   rgba(255, 0, 0, 0.8239670868) 94%);
 border-radius: 12px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 display: flex;
 padding: 0.7rem;
 cursor: pointer;
 color: white;
 top: 40%;
 left: 5%;
  }



  .card.selected {
    border: 2px solid blue; 
  }

  .card-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 19%;
    top: 75%;
    box-shadow: 0px 4px 10px #000000b3;
    transition: all 0.3s ease-in-out;

    &:hover{
      cursor: pointer;
      background-color: rgb(177, 173, 173);

    }

  }








  .mat-mdc-header-row {
    background-color: #3f51b5;  /* Color primario (puedes usar cualquier HEX, RGB o variable de tema) */
    color: white;               /* Color del texto */
    font-weight: bold;         /* Opcional: negrita */
  }
  
  /* Cambia el color de las celdas del header */
  .mat-mdc-header-cell {
    //color: white;              /* Texto blanco para contraste */
  }


.mat-mdc-row:nth-child(odd) {
  //background-color: #f86c6c;
  background-color: white;
}

.mat-mdc-row:nth-child(even) {
  //background-color: #3f66e6;
  background-color: white;

}

.mat-mdc-row:hover{
  //background-color: #0c2d3a !important;
  background-color: #c2c2c2;

}


/* Quita los bordes inferiores de todas las filas y celdas */
.mat-mdc-table .mat-mdc-row, 
.mat-mdc-table .mat-mdc-cell {
  border-bottom: none !important;
  //background-color: #3f51b5;  /* Color primario (puedes usar cualquier HEX, RGB o variable de tema) */

}




.mat-mdc-header-row {
  background-color: #3f51b5 !important;  /* Color primario (puedes usar cualquier HEX, RGB o variable de tema) */
  color: white !important;               /* Color del texto */
  font-weight: bold !important;       
    border-bottom: none !important;
  /* Opcional: negrita */
  font-size: 18px !important;
}


:host ::ng-deep .mat-cell.highlight {
  background-color: #85c1ffba !important;
}