<div class="main-modal">
    <div class="header">
        <span class="title">
            {{plan.name}}
        </span>

        <i class="bi bi-three-dots-vertical circle-icon"
        (click)="openSettingsMenu()"></i>
    </div>

    <div class="body">
        <div class="options-container">
            <span class="sub">Vista general</span>

            <div class="icon-container">
                <i class="bi bi-shuffle circle-icon" data-tooltip="Cambiar vista"
                  (click)="openExample()"></i>

                  <i class="bi bi-floppy circle-icon green"(click)="saveVersion()"
                    data-tooltip="Guardar"></i>

                  <i class="bi bi-calculator circle-icon red"
                    data-tooltip="Operaciones" (click)="openOpsMenu()"></i>

                    <div class="op-menu" *ngIf="showOpsMenu">
                      <div class="op-menu-container" *ngFor="let option of ops_menu_list">
                        <span (click)="onOpsMenuClick(option)">{{option.title}}</span>
                      </div>
                    </div>

            </div>

      

          <div class="input-container">
            <i class="bi bi-search icons"></i>
            <input type="text" placeholder="Ingresa algo para buscar">
          </div>


            <div class="views-menu" *ngIf="showViewsMenu">
                <span class="menu-option" *ngFor="let optio of list_menu_views"
                  (click)="onMenuSelect(optio)">
                  {{optio.title}}
                </span>
            </div>

        
        </div>


        <div class="tables" *ngIf="plan.id === 1">
            <div class="left">
              

              <div *ngIf="isLoading" class="spinner-container">
                <mat-spinner></mat-spinner>
              </div>
    
    
              <div *ngIf="!isLoading">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tablax">
                  <ng-container *ngFor="let header of headers" [matColumnDef]="header.title.toLowerCase().replace(' ', '')">
                    
                    <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{
                        'custom-header': header.title.toLowerCase() === 'enero' || header.title.toLowerCase() === 'febrero' || header.title.toLowerCase() === 'marzo',
                        'custom-header-q2': header.title.toLowerCase() === 'abril' || header.title.toLowerCase() === 'mayo' || header.title.toLowerCase() === 'junio',
                        'custom-header-q3': header.title.toLowerCase() === 'julio' || header.title.toLowerCase() === 'agosto' || header.title.toLowerCase() === 'septiembre',
                        'custom-header-q4': header.title.toLowerCase() === 'octubre' || header.title.toLowerCase() === 'noviembre' || header.title.toLowerCase() === 'diciembre'
                    }"
                    [ngStyle]="{
                        '--varY': limits === 1 ? '112%' : limits === 2 ? '59%' : limits === 3 ? '-6%' : '-23%', 
                        '--varX': limits === 1 ? '-190%' : limits === 2 ? '-190%' : limits === 3 ? '-190%' : '-190%',
                        '--sizeW': limits === 1 ? '13vw' : limits === 2 ? '12vw': limits === 3 ? '11vw' : '10vw'
                    }">
                    {{ header.title }}
                </th>
                
                  
                
                    <ng-container *ngIf="header.title === 'seleccionar'">
                      <td mat-cell *matCellDef="let element">
                        <input type="checkbox" [(ngModel)]="element.selected" (click)="$event.stopPropagation()" (change)="onCheckboxChange(element)">
                      </td>
                    </ng-container>
                
                    <ng-container *ngIf="header.title !== 'seleccionar'">
                      <td mat-cell *matCellDef="let element">
                        {{ element[header.title.toLowerCase().replace(' ', '')] }}
                      </td>
                    </ng-container>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openMenu($event, row)"></tr>
  
              
                </table>
              </div>
             

                        <mat-paginator 
            [pageSizeOptions]="[5, 10, 25, 100]" 
            [pageSize]="5"
            showFirstLastButtons
            [length]="dataSource.data.length"
            ></mat-paginator>

            <div class="l-menu" *ngIf="showMenu" [ngStyle]="{'top.px': menuTop, 'left.px': menuLeft}">
              <span class="menu-list" *ngFor="let option of menu_lists"
                (click)="chooseOption(option.id)">
                {{option.title}}
              </span>
            </div>
                  
           
            
            </div>
    
            </div>


            <div class="tables" *ngIf="plan.id === 2">
              <div class="left">
                <div *ngIf="isLoading" class="spinner-container">
                  <mat-spinner></mat-spinner>
                </div>
            
                <div *ngIf="!isLoading">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tablax">
                    <!-- Definir las columnas -->
                    <ng-container *ngFor="let header of headers" [matColumnDef]="header.title.toLowerCase().replace(' ', '')">
                      <th mat-header-cell *matHeaderCellDef
                          [ngClass]="{
                              'custom-header': header.title.toLowerCase() === 'enero' || header.title.toLowerCase() === 'febrero' || header.title.toLowerCase() === 'marzo',
                              'custom-header-q2': header.title.toLowerCase() === 'abril' || header.title.toLowerCase() === 'mayo' || header.title.toLowerCase() === 'junio',
                              'custom-header-q3': header.title.toLowerCase() === 'julio' || header.title.toLowerCase() === 'agosto' || header.title.toLowerCase() === 'septiembre',
                              'custom-header-q4': header.title.toLowerCase() === 'octubre' || header.title.toLowerCase() === 'noviembre' || header.title.toLowerCase() === 'diciembre'
                          }"
                          [ngStyle]="{
                              '--varY': limits === 1 ? '112%' : limits === 2 ? '59%' : limits === 3 ? '-6%' : '-23%', 
                              '--varX': limits === 1 ? '-190%' : limits === 2 ? '-190%' : limits === 3 ? '-190%' : '-190%',
                              '--sizeW': limits === 1 ? '13vw' : limits === 2 ? '12vw': limits === 3 ? '11vw' : '10vw'
                          }">
                          {{ header.title }}
                      </th>
            
                      <!-- Columna para checkboxes -->
                      <ng-container *ngIf="header.title === 'seleccionar'">
                        <td mat-cell *matCellDef="let element">
                          <input type="checkbox" [(ngModel)]="element.seleccionar" (click)="$event.stopPropagation()" (change)="onCheckboxChange(element)">
                        </td>
                      </ng-container>
            
                      <!-- Otras columnas -->
                      <ng-container *ngIf="header.title !== 'seleccionar'">
                        <td mat-cell *matCellDef="let element">
                          {{ element[header.title.toLowerCase().replace(' ', '')] }}
                        </td>
                      </ng-container>
                    </ng-container>
            
                    <!-- Definir las filas -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openMenu($event, row)"></tr>
                  </table>
                </div>
            
                <!-- Paginador -->
                <mat-paginator 
                  [pageSizeOptions]="[5, 10, 25, 100]" 
                  [pageSize]="5"
                  showFirstLastButtons
                  [length]="dataSource.data.length">
                </mat-paginator>
            
                <!-- Menú contextual -->
                <div class="l-menu" *ngIf="showMenu" [ngStyle]="{'top.px': menuTop, 'left.px': menuLeft}">
                  <span class="menu-list" *ngFor="let option of menu_lists" (click)="chooseOption(option.id)">
                    {{option.title}}
                  </span>
                </div>
              </div>
            </div>

            <div class="card-container">
              <!-- Cards superpuestas -->
              <div
                *ngFor="let card of cards; let i = index"
                class="card"
                [style.z-index]="i"
                [style.transform]="'translateX(' + i * 20 + 'px)'"
                [attr.data-card-id]="card"
              >
                Card {{ card }}
              </div>
            
              <!-- Botón para mover la card superior al fondo -->
              <button
                class="card-icon"
                (click)="moveCardToBottom()"
              >
                M
              </button>
            </div>
         
        <div class="utilidad" *ngIf="showUtility">
          <div class="left">
            <span class="u-title">
              Utilidad bruta
            </span>
            <span class="u-sub">
              Del plan actual: 
            </span>
          </div>
          <div class="right">
            <span class="r-title">
              $50,000 MXN
            </span>
          </div>
        </div>
    </div>
</div>