<header class="inicio">
    <span>CVV</span>
    <span>Modulo de Plan Financiero</span>
</header>

<main class="contenedor_animacion">
    <section  class="seccion seccion_1">
       
    </section>
    <section class="seccion seccion_2">
        <h2>seccion 2</h2>
    </section>
    <section class="seccion seccion_3">
        <h2>seccion 3</h2>
    </section>
    <section class="seccion seccion_4">
        <h2>seccion 4</h2>
    </section>
</main>

<footer class="final">
    <h2>adios</h2>
</footer>