
  
  
  <div    class="d-flex"  [ngClass]="{'toggled': isToggled, 'plan-telling-active': isPlanTellingActive}" 
  
  id="wrapper"
  >
      <!-- Sidebar -->
      <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Menu

          <i   class="bi bi-list" (click)="toggleMenu()"></i>

        </div>
        <div class="list-group list-group-flush">

          <div class="h-container" routerLinkActive="active-link">
            <i class="bi bi-house"  ></i>
            <a  class="list-group-item list-group-item-action a-item" [routerLink]="'/home'"
              >Dashboard</a>
          </div>



          <div class="h-container" routerLinkActive="active-link">
            <i class="bi bi-calendar2-week"></i>
            <div class="v-container">
              <a class="list-group-item list-group-item-action a-item"
              (click)="toggleSubmenu('plan')"
              >Plan</a>
              <app-submenu *ngIf="showSubmenu === 'plan'" 
              [submenuItems]="planSubmenuItems">
              </app-submenu>
            </div>
          
          </div>
        
  

          <div class="h-container" routerLinkActive="active-link">
            <i class="bi bi-capsule"></i>
            <a class="list-group-item list-group-item-action a-item" [routerLink]="'/dashProducts'">Productos</a>
          </div>

          <div class="h-container" routerLinkActive="active-link">
            <i class="bi bi-file-earmark-bar-graph"></i>
            <a class="list-group-item list-group-item-action a-item" [routerLink]="'/dashReports'">Reportes</a>
          </div>
  
          <div class="h-container" routerLinkActive="active-link">
            <i class="bi bi-box2"></i>
            <a class="list-group-item list-group-item-action a-item" [routerLink]="'/inventary'">Inventario</a>

          </div>  


          <div class="h-container end" routerLinkActive="active-link">
            <i class="bi bi-gear"></i>            
            <a class="list-group-item list-group-item-action a-item" [routerLink]="'/settings'"
            >Configuraciones</a>

          </div>  
        </div>
      </div>
    
  
  <!---NAVBAR-->
          
  <div class="badge" *ngIf="isToggled"
    (click)="toggleMenu()">
    <i class="bi bi-list"></i>
  </div>
  
        
    <!---RIGHT CONTENT ROUTEr-->
        <div class="container-fluid">
         <router-outlet></router-outlet>
        </div>
  </div>

