
<div class="main">

    <div class="item">
        hola
    </div>



    <div
 
  class="item"
  (dragstart)="onDragStart($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
>
  Arrástrame
</div>

<div class="dropzone1" data-id="dropzone1" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  Zona de drop 1
</div>

<div class="dropzone" data-id="dropzone2" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  Zona de drop 2
</div>

<div class="dropzone" data-id="dropzone3" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  Zona de drop 3
</div>



</div>