@use '../../../../../styles/_abstracts/index' as a;



.main-modal{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;



    .header{
        width: 100%;
        height: 10%;
        display: flex;
        position: relative;

        .title{
            @include a.mx-card-title;
        }

        .t-icon{
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            top: 1%;
            right: 1%;
            transition: all 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.39);
            }

        }
    }

    .body{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: relative;

        .sub{
            @include a.mx-text-body;
        }

        .search-container{
            width: 30%;
            z-index: 10;
            position: absolute;
            top: 0%;
            right: 0%;
            /* padding: 1rem; */
            /* background-color: aqua; */
            input{
                width: 100%;
                padding: .5rem 1rem;
                border-radius: 8px;
                outline: none;
                border: 1px solid rgba(128, 128, 128, 0.404);
            }
        }

        .table-container{
            margin-top: 4rem;
            width: 100%;
            height: 100%;
            //background-color: #666;

            table{
                width: 100%;
                height: 85%;
            }

            .no-results{
                display: block;
                text-align:  center;
                padding: 1rem;
                font-size: 1rem;
                color: #666;

            }
        }
    }
}


