@use './variables' as v;


/*
        MIXINS DE RIBBONS

*/

@mixin mx-ribbon-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    font-size: 11.5px;
    gap: 0.3rem;
    width: fit-content;
    border-radius: 6px;
    line-height: 1.1;
    background: #424242;
    font-weight: 550;
    /* box-shadow: 0px 2px 3px #42424200; */
    transition: all 0.2s ease-in-out;
    color: white;

    &:hover{
        cursor: pointer;
        background: #262626;

    }
}

@mixin mx-ribbon-title{
    line-height: 1.1;
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
    top: -72%;
    //left: 10%;
}

@mixin mx-ribbon-body{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    //background-color: rgba(0, 255, 136, 0.411);
}

@mixin mx-ribbon-header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgba(255, 217, 0, 0.411);
    position:relative;

}

@mixin mx-ribbon-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    //background-color: rgba(255, 102, 0, 0.411);
    padding: .3rem;
    border-right: 1px solid #c1c2c2;
}


@mixin mx-main-ribbon{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}


/*
        MIXINS DE MODALES

*/

@mixin mx-modal-md{
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

@mixin mx-modal-sm{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



/*
        MIXINS DE LAYOUTS

*/

@mixin mx-layout-background{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: flex-start;
    justify-content: center;
    background: #DFDFDF;
    background: linear-gradient(135deg, #DFDFDF, #FFFAF8);

}

@mixin mx-section-main-custom($mt){
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin-top: $mt;
}

@mixin mx-layout-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

@mixin mx-layout-basic{
    display: flex;
    flex-direction: column;
    width: 73vw;
    height: 100%;
    margin-top: 1.5rem;
}



@mixin mx-section-main-basic{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

@mixin mx-body-basic{
    width: 100%;
    height: 80%;
    display: flex;  
    flex-direction: column;
    overflow-y: auto;
}

@mixin mx-header-custom($height, $justify-content){
    width: 100%;
    height: $height;
    display: flex;  
    justify-content: $justify-content;
    align-items: center;
}

@mixin mx-header-basic{
    width: 100%;
    height: 10%;
    display: flex;  
    justify-content: center;
    align-items: flex-start;
}

@mixin mx-footer-basic{
    width: 100%;
    height: 10%;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}




/*
         MIXINS DE TEXTOS
*/

@mixin mx-text-title-lg{
    font-size: 28px;
    line-height: 1.1;
    font-weight: 720;
}

@mixin mx-text-sub-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    color: v.$text-body;
}

@mixin mx-text-body{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        color: v.$text-body;
}

@mixin mx-card-title{
    line-height: 1.1;
    font-weight: 650;
    font-size: 20px;
}

@mixin mx-card-text{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    color: v.$text-body-light;
}