@use './variables' as v;


/*
        MIXINS DE MODALES

*/

@mixin mx-modal-sm{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



/*
        MIXINS DE LAYOUTS

*/

@mixin mx-body-basic{
    width: 100%;
    height: 80%;
    display: flex;  
    flex-direction: column;
    overflow-y: auto;
}

@mixin mx-header-basic{
    width: 100%;
    height: 10%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

@mixin mx-footer-basic{
    width: 100%;
    height: 10%;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}




/*
         MIXINS DE TEXTOS
*/

@mixin mx-text-title-lg{
    font-size: 28px;
    line-height: 1.1;
    font-weight: 720;
}

@mixin mx-text-body{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        color: v.$text-body;
}

@mixin mx-card-title{
    line-height: 1.1;
    font-weight: 650;
    font-size: 20px;
}

@mixin mx-card-text{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    color: v.$text-body-light;
}