@use '../../../../../styles/_abstracts/index' as a;

.main-modal{
    @include a.mx-modal-md;

    header{
        @include a.mx-header-basic;

        .title{
            @include a.mx-text-title-lg;
            font-size: 24px;
        }
    }

    main{
        @include a.mx-body-basic;

        .sub{
            @include a.mx-text-body;
            height: 5%;
        }

        .functions-container{

            margin-top: 2rem;
            width: 100%;
            height: 10%;
            //background-color: rgb(236, 118, 118);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;


            .function{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: a.$primary-dark;
                color: white;
                padding: .4rem .9rem;
                border-radius: 8px;
                gap: .3rem;
                transition: all 0.2s ease-in-out;

                &:hover{
                    cursor: pointer;
                    background-color: a.$primary-darkerer;
                }

            }
        }

        .work-container{
            margin-top: 2rem;
            width: 100%;
            height: 85%;
            //background-color: rgb(236, 118, 118);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            .left{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: rgb(231, 231, 105);

                .selected-container{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .9rem;

                    .selected-item{
                        background-color: rgb(230, 230, 79);
                        padding: .6rem;
                        border-radius: 10px;
                        
                    }
                }
            }

            .right{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: rgb(105, 231, 137);

            }
        }
    }

    footer{
        @include a.mx-footer-basic;
    }
}