<div class="table-container" #tableContainer>
    <table class="excel-grid">
        <thead>
          <!-- Fila de grupos -->
          <tr *ngIf="groups.length > 0">
            <ng-container *ngFor="let col of (visibleColumnss$ | async); let i = index">
              <td *ngIf="isGroupStartColumn(col.key)"
                  [attr.colspan]="getGroupColspan(col.key)"
                  [style.background-color]="groupColor"
                  [style.border-color]="groupColor">
                {{ getGroupForColumn(col.key)?.label }}
              </td>
              <td *ngIf="!isGroupStartColumn(col.key)"></td>
            </ng-container>
          </tr>
          <!-- Fila de encabezados -->
          <tr>
            <th *ngFor="let col of (visibleColumnss$ | async); trackBy: trackByColumnKey"
                [style.width.px]="col.width"
                [style.background-color]="isFacColumn(col.key) ? '#007bff' : headerColor"
                [style.font-size]="getFontSize(col.width)"
                class="resizable"
                [attr.data-key]="col.key">
              {{ col.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let col of (visibleColumnss$ | async)"
                class="celda"
                [style.width.px]="col.width"
                [style.background-color]="isFacColumn(col.key) ? 'rgb(92 169 252)' : headerColor"
                [style.font-size]="getFontSize(col.width)"
                [attr.data-key]="col.key">
              {{ row[col.key] }}
            </td>
          </tr>
        </tbody>
      </table>
</div>