@use '../../../../../styles/_abstracts/index' as a;

.main-modal{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .header{
        width: 100%;
        height: 10%;
        display: flex;

        .title{
            @include a.mx-text-title-lg;
        }
    }

    .body{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .chart-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            //background-color: rgb(241, 143, 143);

            .info-container{
                padding: 0.9rem 1.3rem;
                display: flex;
                width: 39%;
                height: 44%;
                flex-direction: column;
                background-color: #dddddd;
                border-radius: 12px;
                position: absolute;
                justify-content: center;
                bottom: 27%;
                right: 1%;
                gap: .3rem;
                align-items: flex-start;

                .h-container{
                    display: flex;
                    gap: 1rem;

                    .h-text{
                        line-height: 1.1;
                        /* background-color: red; */
                        font-weight: 650;
                        margin-bottom: .4rem;
                        color: #757575;
                        font-size: 15px;
                    }

                    .h-text-value{
                        line-height: 1.1;
                        /* background-color: red; */
                        font-weight: 650;
                        margin-bottom: .4rem;
                        color:rgb(63, 63, 63);
                        font-size: 15px;
                    }
                }
            }
        }
    }
}