<div class="main-modal">
    <section class="header">
        <span class="title">{{title || 'Título no disponible'}}</span>
    </section>

    <section class="body">
        <div class="chart-container">
            @if(id === '1' ){
                <ngx-charts-gauge
                [view]="[830, 450]"
                [results]="data_list"
                [scheme]="'flame'"
                [angleSpan]="240"
                [startAngle]="-120"
                [units]="''"
                [legendTitle]="'Leyenda'"
                [showAxis]="true"
                [legend]="true"
                [max]="1692229"> 
              </ngx-charts-gauge>


              <div class="info-container">
                <div class="h-container">
                    <span class="h-text">Sumatoria total de <strong>{{valueText}}</strong>: </span>
                    <span class="h-text-value">{{formattedTotalValue || 0}}</span>
                </div>
                <div class="h-container">
                    <span class="h-text">Total de <strong>{{valueText}}</strong> del conjunto Top-3: </span>
                    <span class="h-text-value">{{formattedTopValue || 0}}</span>

                </div>
                <div class="h-container">
                    <span class="h-text">Total de <strong>{{valueText}}</strong> del conjunto restante: </span>
                    <span class="h-text-value">{{formattedOtherValue || 0}}</span>

                </div>

              </div>


                
            }@else if(id === '2'){
                <ngx-charts-gauge
                [view]="[830, 450]"
                [results]="data_list"
                [scheme]="'flame'"
                [angleSpan]="240"
                [legend]="true"
                [showAxis]="true"
                [legendTitle]="'Leyenda'"
        
                [startAngle]="-120"
                [max]="100" 
                [units]="'%'"
                > 
                </ngx-charts-gauge>

                <div class="info-container">
                    <div class="h-container">
                        <span class="h-text">Del 100% de <strong>{{valueText}}</strong> que corresponde al siguiente valor: </span>
                        <span class="h-text-value">{{formattedTotalValue}}</span>
                    </div>
                    <div class="h-container">
                        <span class="h-text">El porcentaje que representa el conjunto Top-3  es de: </span>
                        <span class="h-text-value">{{porcentTop + '%'}}</span>
                    </div>
                   
                  

                </div>
            }
        </div>
    </section>

    
   



    
</div>