.main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 90vh;
    overflow: hidden;
 
    

    .header{
        width: 100%;
        height: 10%;
        display: flex;
        //background-color: red;
    }

    .body{
        width: 100%;
        height: 80%;
        display: flex;
        //background-color: rgb(224, 159, 159);
        overflow-y: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sub-header{
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .menu-container{
            width: 100%;
            height: 100%;
            display: flex;
            padding: 1rem;
            justify-content: center;
            //align-items: flex-start;
            //background-color: yellow;
            position: relative;
            flex-wrap: wrap;
            
            gap: 1rem;
            overflow-y: auto;

            .menu{
                width: 45%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                background-color: whitesmoke;
                border-radius: 16px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.288);
                transition: 0.3s ease-in-out;

                &:hover{
                    cursor: pointer;
                    //transform: scale(1.03);
                    background-color: rgb(209, 206, 206);


                }


                .list-option-container{
                    display: flex;
                    flex-direction: column;


                    .list-option{
                        &:hover{
                           cursor: pointer;
                           transform: scale(1.03);
                        }
                   }
    
                }
                
              

            }


            .not{
                opacity: 0;
            }


            .menu-selected{
                width: 95%;
                height: 54vh;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                background-color: #e5e5e5;
                border-radius: 16px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.288);
                transition: 0.3s ease-in-out;
                position: absolute;
                top: -35%;
                transform: translate(0%, 53%);
                z-index: 10;

                &:hover{
                    cursor: pointer;
                    transform: scale(0);

                }
               
            }

          
        }

        .c-container{
            width: 90%;
            height: 90%;
            display: flex;
            padding: 1rem;
            justify-content: center;
            //align-items: flex-start;
            //background-color: yellow;
            position: relative;
            background-color: rgb(206, 255, 127);
                border-radius: 16px;
                box-shadow: 0px 4px 6px black;
            gap: 1rem;

            app-inventario{
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //background-color: rgb(38, 0, 255);
    }
}