
<div class="main">
    <div class="header">
        <span>{{product.NOMBRE_GENERICO}}</span>
    </div>
    <div class="body">
        <div class="stats-container">
            <div class="stats" *ngFor="let stat of stats_list">
                <div class="header">
                    <span class="title">{{stat.title}}</span>

                </div>
                <div class="body">
                    <i class="{{stat.icon}}"></i>
                    <span>{{stat.value}}</span>
                </div>
                <div class="footer">
                    <span>{{stat.subtitle}}</span>
                </div>
            </div>
        </div>

       
       

    </div>


    <div class="footer">
        <button class="btn btn-light"
            (click)="close()"
        >Cerrar</button>
    </div>


    </div>
  


