<div class="background">

    <span class="title">Planeación financiera</span>

    <main class="main-container">


        <div class="card-grid">
            <div class="card">
                <h2>Productos</h2>
                <p class="p-button"
                    (click)="goToList()"
                >Ver todos los productos</p>
            </div>
            <div class="card">
                <h2>Reportes</h2>
                <p class="p-button" (click)="goReportes(1)">Reportes trimestrales</p>
                <p class="p-button" (click)="goReportes(2)">Ordenes de Compra</p>

            </div>
        </div>
    </main>
</div>