@use '../../../../../styles/_abstracts/index' as a;

.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  .multi-container{
    width: 30%;
    height: 8%;
    background-color: black;
    border-radius: 12px;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    justify-content: space-between;
    right: 50%;
    display: flex;
    transform: translateX(50%);
    align-items: center;
    box-shadow: 0px 4px 6px black;

    .mt-text{
      width: 60%;
      color: white;
    }

    .btns-container{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      gap: 1.6rem;

      .mt-icon{
        transition: all 0.2s ease-in-out;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.267);
        }
      }
    }
  }
}



.cell-input {
    width: calc(100% - 8px); /* Ajuste para el padding */
    height: calc(100% - 8px); /* Ajuste para el padding */
    border: 2px solid #4a90e2; /* Borde azul para mejor visibilidad */
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    font-size: inherit;
    background-color: #fffed3;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  td {
    position: relative;
    padding: 4px;
    cursor: cell;
    
    &:hover {
      background-color: #f5f5f5;
    }
  }
  

  
  .excel-grid {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    
    th, td {
      border: 1px solid #ddd;
    }
  }

  .non-editable {
    background-color: #f5f5f5;
    cursor: default;
    
    &:hover {
      background-color: #f5f5f5 !important;
    }
  }
  
  /* Asegúrate que el span ocupe todo el espacio */
  td span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 4px;
  }


 .accions{
  //background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: .4rem;

  .icons-container{
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: .1rem;
    justify-content: center;
    box-shadow: 0px 4px 6px #00000018;
    align-items: center;

    .a-icon{
      width: 35px;
      height: 35px;
      display: flex;
      /* background-color: red; */
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 18px;
      color: a.$primary-dark;
      transition: all 0.2s ease-in-out;
  
      &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.201);
      }
  
    }
  
    .red{
      color: red;
    }
  }
  

 

}

.selected-row{
  background-color: #7f9dec69;
  border: 6px solid #7f9dec;

}
