.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  .multi-container{
    width: 60%;
    height: 10%;
    background-color: black;
    border-radius: 12px;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    right: 50%;
    transform: translateX(50%);
  }
}



.cell-input {
    width: calc(100% - 8px); /* Ajuste para el padding */
    height: calc(100% - 8px); /* Ajuste para el padding */
    border: 2px solid #4a90e2; /* Borde azul para mejor visibilidad */
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    font-size: inherit;
    background-color: #fffed3;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  td {
    position: relative;
    padding: 4px;
    cursor: cell;
    
    &:hover {
      background-color: #f5f5f5;
    }
  }
  

  
  .excel-grid {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    
    th, td {
      border: 1px solid #ddd;
    }
  }

  .non-editable {
    background-color: #f5f5f5;
    cursor: default;
    
    &:hover {
      background-color: #f5f5f5 !important;
    }
  }
  
  /* Asegúrate que el span ocupe todo el espacio */
  td span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 4px;
  }
